[2017-08-05 11:29] IvanGoncharov opened #9 "Agenda: Define process for the changes to the specification"
At the moment it's very hard to track which features will be included in the next release.

For example, the absolute majority of the community thinks that IDL is already a part of the spec since it is implemented in all major libraries. However, it's still not merged into a spec and there is no clear indication of this PR status.

I propose to define a pipeline for all the major changes with stag

[2017-08-07 18:51] wincent commented on #9
Sounds like an eminently reasonable thing to discuss. Feel free to go ahead and add it to the agenda.

[2017-08-08 06:57] IvanGoncharov commented on #9
@wincent Done

[2017-08-08 06:57] #9 closed

[2017-12-20 14:09] IvanGoncharov opened #39 "[MVP] GraphQL over HTTP"
On the last WG we discussed "GraphQL over HTTP" spec and I've prepared a minimalistic draft:
https://gist.github.com/IvanGoncharov/021bdb39761e1c80b1fc698706b2ecf7

@leebyron But I'm not sure about the next steps.
Would you create "graphql/graphql-over-http" repo so I can submit this Draft as a PR?
Or should I create a personal repo and then move it afterward?

[2018-01-29 04:47] leebyron commented on #39
I think it makes sense for you to create a repo in your account to begin the editing process, that way you can manage PRs and discussion in that repo. Once it has become fully formed, then we can consider moving it into this top level org as a sort of way of ratifying it.

[2018-01-29 23:25] IvanGoncharov commented on #39
@leebyron Agree 👍
I created: https://github.com/APIs-guru/graphql-over-http

[2018-01-29 23:26] #39 closed

[2018-03-23 00:15] leebyron opened #72 "Special WG session during GraphQL EU"
I originally added https://github.com/graphql/graphql-wg/blob/master/agendas/2018-07-13.md with the intent that this be a special session where as many people who can join in person in Berlin during GraphQL EU can do so. However the specific date of July 13th is only a starting suggestion.

I want to use this issue as a space for us to work out options for what day and time this session should occ

[2018-03-23 00:32] leebyron commented on #72
For some context, the [conference itself](https://www.graphql-europe.org/) is on the 15th which is a Sunday, so my thought was that the 13th (Friday), 14th (Saturday), or 16th (Monday) would be strong candidates.

[2018-03-23 02:12] OlegIlyenko commented on #72
@leebyron I think you looked that July. The conference takes place on **June** 15th, 2018. So it's Friday, not Sunday

[2018-03-23 03:18] leebyron commented on #72
Oh gosh you’re totally right. Thank you for correcting me
On Thu, Mar 22, 2018 at 7:12 PM ΘLΞG <notifications@github.com> wrote:

[2018-03-23 17:39] leebyron commented on #72
I might propose holding the session on *Thursday, June 14th*, the day before the conference - however I know the tradeoff is that some may be preparing for the conference. @schickling what do you think?

[2018-03-23 20:07] schickling commented on #72
Thursday June 14th would work for me, Saturday June 16th would certainly also be an option. 👍

[2018-03-23 20:14] leebyron commented on #72
I actually like the idea of having the session directly after the conference - the only drawback being that it is a weekend, which is a big request for those not attending.

[2018-05-14 01:54] leebyron commented on #72
We'll be holding this session on Thursday, June 14th - ideally in the late afternoon or early evening. @schickling can you help us find a location for people to meet who will be in town?

[2018-05-24 21:17] leebyron commented on #72
Tentatively: 3-5pm

[2018-05-24 23:13] schickling commented on #72
We're happy to host up to 15 people in our office. Otherwise we'll find another space! 🏠

[2018-05-25 18:35] leebyron commented on #72
Should be plenty! 🙌

[2018-06-13 10:14] IvanGoncharov commented on #72
@schickling @leebyron Would be great if you add time & address to agenda:
https://github.com/graphql/graphql-wg/blob/master/agendas/2018-06-14.md

[2018-06-13 16:33] #72 closed

[2018-07-16 16:40] IvanGoncharov opened #102 "WG meetup before/after GraphQL Summit"
Currently, WG scheduled for `2018-11-08` and that conflicts with 2nd day of GraphQL Summit:
https://github.com/graphql/graphql-wg/blob/master/agendas/2018-11-08.md
https://summit.graphql.com/
Would be great to move WG to either November 6th or 9th?

@leebyron Do you plan to organize special WG session similar to graphql-europe?
If so would be great to decide on the date so participants are able to

[2018-07-20 02:19] leebyron commented on #102
Great point. I'll move it to the 6th and we can look into holding a special in-person sessions

[2018-07-20 02:22] #102 closed

[2018-08-12 14:17] deinok commented on #39
@IvanGoncharov Should we start working on this spec and tag all the interested people that is writing graphql libraries for HTTP?

[2018-08-12 15:44] IvanGoncharov commented on #39
@deinok It was discussed here:
https://github.com/graphql/graphql-wg/blob/master/notes/2018-02-01.md#next-steps-for-graphql-over-http-spec

And there were some concerns voiced during discussion so draft should be updated to address them. ATM, I'm focused on releasing `graphql-js@14.0.0` but it's one of the top items on my TODO list.
If you have more questions or want to help please open an issue i

[2018-09-20 22:44] IvanGoncharov opened #114 "How to encourage discussions on PRs in GraphQL Spec repo?"
Just as a continuation on disscusion that we had during WG.

A few actionable ideas so far are:

- [ ] More descriptive tags on issues and PRs
- [ ] Have a "This week in GraphQL specification" newsletter

Would be great to hear other ideas?

[2018-09-21 13:45] craigsmitham commented on #114
@IvanGoncharov first - really appreciate your past help and willingness to discuss issues here and in GraphQL JS. So, more ways we can encourage good discussion will be great.

I think the Ember community has done this well. They have a blog/newsletter published weekly with a roundup of information relevant to the core Ember framework and libraries with links to their forum and GH issues for more

[2018-11-26 03:11] Zaba505 commented on #114
Hi @IvanGoncharov and @craigsmitham, has there been any news on a "discussion space" (any medium for discussing WG ideas)? I've been trying to find any on my own and having no luck. I have a proposed idea for adding `import` statements to the GraphQL `TypeSystemDefinition` spec. I started by reading the README.md and it said to make a PR on the upcoming WG agenda file to discuss inclusions, propos

[2018-12-18 04:31] Zaba505 commented on #114
@craigsmitham Thanks for the reply! Is there any timeline on when a process may be implemented? Also, is there a process for adding projects to the graphql org? I've been working on a GraphQL "compiler", [gqlc](https://github.com/Zaba505/gqlc) (really just a protoc knock off for the graphql idl). It's currently still in development but fast approaching a beta release and I was wondering if there i

[2018-12-22 23:13] craigsmitham commented on #114
@Zaba505, to the best of my knowledge, the GraphQL org on GitHub is focused on projects that are related to the GraphQL specification or the GraphQL reference implementation. There are plenty of other community and industry projects focused on GraphQL that can be found at this page: https://graphql.github.io/code/. They all typically have their own Github org.

[2019-01-25 19:58] mike-marcacci opened #135 "Is there a scheduled next meeting?"
I plan on pushing for [this RFC](https://github.com/facebook/graphql/pull/373) again, and need to resolve merge conflicts in the RFC and [reference implementation](https://github.com/graphql/graphql-js/pull/1218) but want to plan it so I don't have *more* conflicts to fix by the time people can look at it.

Has there been any out-of-band discussion about the next meeting? If so, could we get a new

[2019-03-04 14:46] orta opened #136 "Schedule a one-off for GraphiQL discussions"
👋 - I kickstarted some discussion on twitter about a what could GraphiQL 2.0 (or, I guess 1.0 as it's still not there yet :D ) after exploring some wireframes.

We should schedule a one-off meeting to talk about:

- What are the current issues with GraphiQL?
- What could / should GraphiQL do?
- Could we find a way to integrate ( or support the integration of) the features from GraphQL playground a

[2019-03-04 15:17] benjie commented on #136
I'd also like to give a shout out to GraphiQL Explorer from OneGraph: https://github.com/OneGraph/graphiql-explorer - PostGraphile users have been really enjoying it. We also do some "state hackery" in PostGraphile to enable hot schema replacement without losing your state in the documentation explorer - definitely interested in making this part of core rather than hacking internal React state! Al

[2019-03-06 21:11] sgrove commented on #136
Making GraphiQL much more pluggable would also be nice. I think this would involve:

1. Some refactoring of of the built in components (to make controlling the various pieces easier from the outside)
2. The styling system (to make theming and styling easier)
 - [ ] Along these lines, I believe @sachag has batted around the idea of giving GraphiQL a visual overhaul for the default out-of-the-box-ex

[2019-03-06 22:10] SachaG commented on #136
Re: UI overhaul, here's the new Storybook design by @domyen as inspiration:

![https://cdn-images-1.medium.com/max/2000/1*SwnoxDnjVXKzCVQbD2mHQw.png](https://cdn-images-1.medium.com/max/2000/1*SwnoxDnjVXKzCVQbD2mHQw.png)

[2019-03-08 17:13] domyen commented on #136
This is an awesome initiative! I'm pretty familiar with old GraphiQL from my Apollo days. It sounds like the new GraphiQL UX may share similar challenges with Storybook (addon architecture, styling, etc).  Happy to share sketch files for [Storybook 5.0](https://medium.com/storybookjs/meet-storybook-5-0s-new-design-fb5735bc2a81) or any other design resources I have.

[2019-03-12 17:12] connorshea commented on #136
I'd really like the ability to supply GraphiQL with "example queries" that the user could pick from to test out my API. For example, if I have a GraphQL API for a library of video games, I could have an example query that lists all video games by Nintendo, or all video games for the Nintendo Switch. I think that'd make the API a lot easier for new users to pick up and play with.

[2019-03-12 17:51] benjie commented on #136
Agreed, @connorshea, I've been thinking the same for demoing template queries. It could also be a way of surfacing persisted queries (if you don't have too many) - could be combined with a read-only query area (that still has the keyword hover functionality).

[2019-03-12 18:39] orta commented on #136
Yeah agreed, I wireframed that case (because I'd like it too) because we also do persisted queries

[2019-03-13 04:07] binaryseed commented on #135
Anyone have an update on the next possible meeting?

[2019-03-29 10:30] simPod commented on #135
@mike-marcacci any update on this? It's kinda blocker as most languages can implement multiple interfaces so the domain layer is usually designed like so it leverages that.

And then when the domain layer is somehow mirrored into GQL schema, it's impossible to fully do that.

[2019-03-29 18:27] mike-marcacci commented on #135
@simPod - unfortunately not.

It looks like @AGS- @jjergus @jspahrsummers and @RamonSaboya are associated with the GraphQL organization in GitHub. In the past, of course @leebyron has been the driving force behind GraphQL, at least as far as "us on the outside" are concerned.

If you need someone from the community to step up here and help lead, I would be willing to take that on. Like most everyo

[2019-04-25 05:10] leebyron commented on #136
I'm re-establishing WG meetings for the rest of the year, let's bring this up in discussion at the next, but I agree it's worth spooling up it's own group of folks to stake a direction for the future of this critical tool

[2019-04-25 05:11] leebyron commented on #135
Hey folks, sorry for the significant delay in WG meetings. Now that the foundation is up and running I'm getting these back on the books

[2019-04-25 05:11] #135 closed

[2019-05-05 16:10] acao commented on #136
@IvanGoncharov and I are discussing this particular working group, and this seemed like a good agenda for a GraphiQL WG meeting:

- how to organize/delegate work for GraphiQL WG
- who will review work for new contributors to GraphiQL
- should codemirror-graphql work be inclusive in the GaphiQL WG
- should we update Contributing.md and how?
- (potentially) triage existing issues, PRs
- (potentially

[2019-05-06 01:23] acao commented on #136
what you proposed when initiating this discussion @orta sounds good for a second WG meeting, but as someone who's made a PR against GraphiQL recently, we have some housekeeping/contributor recruiting to do before we can start brainstorming on a 2.0

[2019-05-06 02:17] acao opened #169 "Registration for graphql slack is down"
https://graphql-slack.herokuapp.com/ doesn't allow new registrations

it's linked to from the community docs: https://graphql.org/community/#slack-communities

i would have opened this in the documentation site repo, but this seemed more appropriate?

[2019-05-06 05:42] acao commented on #136
@AGS-  @asiandrummer, @wincent, any other past major contributors you can think of besides Tess to invite?

[2019-05-06 13:24] hwillson commented on #136
@acao Apollo is definitely interested in being part of the GraphiQL WG, and will help with contributions. We're discussing who will be the lead rep for this on our side, and will post back shortly. Thanks!

[2019-05-06 13:41] orta commented on #136
Hi all, yep (sorry I missed the last WG, it was the day before my last day at Artsy and I had to much to do )

I'm not in a rush, I only had low fidelity mockups and a few ideas - happy to pop by the WG and get a feel for what folks are after 👍

[2019-05-06 13:46] hwillson commented on #136
@acao Would you mind including @JakeDawkins and @trevor-scheer as part of the working group? They'll help out from the Apollo side.

[2019-05-06 15:18] acao commented on #136
@hwillson heck yeah! we would love that.

[2019-05-06 18:11] tanaypratap commented on #136
I'm very much interested in being part of the GraphiQL WG. Please tell me what should I do?

[2019-05-06 18:25] acao commented on #136
this is the place to be @tanaypratap!

So, I've chosen [next tuesday, 5/14/19 at 16:00:00 GMT](https://www.timeanddate.com/worldclock/meetingdetails.html?year=2019&month=5&day=14&hour=16&min=0&sec=0&p1=224&p2=179&p3=136&p4=37&p5=239&p6=101&p7=152) for the first meeting.  If that's too short of notice, we can wait til 5/21, but it seems like folks are eager to get started! Very exciting, this is wh

[2019-05-06 19:11] FluorescentHallucinogen commented on #136
@orta

As you all remember, GraphQL Playground uses components of GraphiQL under the hood, but was created to fill in the gaps in the GraphiQL features. The main thing is to find the line between adding everything to the GraphiQL itself and implementing all this in the form of plug-ins for GraphiQL. As @sgrove said it's very important to make GraphiQL as much pluggable as possible. E.g. support of

[2019-05-06 19:25] FluorescentHallucinogen commented on #136
Would you mind including guys (@rohit-ravikoti) from @Novvum as part of the working group? They create amazing things for GraphQL Playground and the whole GraphQL ecosystem such as [Schema Polling for Playground](https://www.novvum.io/post/graphql-playground-v1-8-8-introducing-schema-polling), [SDL Explorer for Playground](https://www.novvum.io/post/the-new-sdl-view-in-graphql-playground-v1-8-5) a

[2019-05-06 19:34] acao commented on #136
See above for instructions on joining the working group meetings, and when the first meeting is. All of these folks are who we had in mind. Anyone who is interested in becoming a long term contributor to `graphiql` is welcome to join the meetings.

As mentioned above, we have at least one meeting just for housekeeping and establishing the working group before we can jump into formally planning a n

[2019-05-06 22:00] acao commented on #136
Ok folks! Here's a schedule of working group meetings. I've tried to add y'all to the attendees list. If you are missing, please add yourselves to the relevant google docs. These docs might become a PR against this repository soon. Until these meetings, please keep the WG discussion going here in this issue thread.

- [GraphiQL WG Meeting 1 - May 14th, 2019](https://docs.google.com/document/d/1bqk

[2019-05-07 14:09] rohit-ravikoti commented on #136
I'd love to be a part of the group 😁.

[2019-05-07 14:40] acao commented on #136
@rohit-ravikoti  see above comment!

[2019-05-08 17:45] asiandrummer commented on #136
Hi everyone - sorry I'm late to the party. Really good to see this working group forming :D When Lee and I open-sourced GraphiQL library I definitely didn't foresee this much love for this piece of software, so I'm definitely grateful that you guys are excited to take care of this tool.

As you probably have noticed, I moved away from contributing to open source softwares for a while, and I'm in t

[2019-05-10 17:04] orta commented on #169
If someone gives me access to the heroku instance ( `first.lastname@gmail.com` ) then I can fix this

[2019-05-13 12:16] acao commented on #136
@asiandrummer thanks for joining us despite everything! It'll be a blessing to all of us to have your insight tomorrow.

Here's the agenda for the meeting tomorrow:
https://github.com/graphql/graphiql/blob/master/wg-agendas/05-14-2019.md

[2019-05-13 20:29] caniszczyk opened #174 "Review https://devstats.graphql.org"
The GraphQL Foundation recently stood up a devstats service to provide some insights to the GraphQL community: https://devstats.graphql.org

You can also evaluate "project health"
https://devstats.graphql.org/d/53/projects-health-table?orgId=1

If you're happy with this, we can make this the official source of project stats.

[2019-05-16 13:58] jturkel commented on #174
Would it make sense to have separate graphql-spec PR stats for [editorial changes](https://github.com/graphql/graphql-spec/pulls?utf8=%E2%9C%93&q=is%3Apr+label%3A%22%E2%9C%8F%EF%B8%8F+Editorial%22+) (i.e. PRs tagged with "✏️ Editorial") vs. [substantive changes](https://github.com/graphql/graphql-spec/pulls?utf8=%E2%9C%93&q=is%3Apr+-label%3A%22%E2%9C%8F%EF%B8%8F+Editorial%22+) (i.e. PRs not tagged

[2019-05-16 14:38] IvanGoncharov commented on #174
@jturkel I don't think so, GraphQL as a standard is slow moving by design, here is relevant design principle:
https://github.com/graphql/graphql-spec/blob/master/CONTRIBUTING.md#guiding-principles

Lee also gave a talk about this: https://youtu.be/mePT9MNTM98?t=1179

So I don't the absence of "substantive changes" is an indicator of project health.
On the other hand, the fact that we have a bunch

[2019-05-16 15:30] jturkel commented on #174
@IvanGoncharov - I completely agree! Hopefully the broken out stats will demonstrate exactly that i.e. editorial changes are getting reviewed and resolved quickly while substantive changes are getting reviewed and resolved (either by accepting the proposal or rejecting it) more slowly but still in a reasonable timeframe. We're not trying to optimize the throughput of substantive change but we are

[2019-05-28 13:32] benjie opened #176 "https://graphql.org SSL certificate has expired"
As reported by @kolobock in https://github.com/graphql/graphql-spec/issues/448#issuecomment-496516908

![Screenshot 2019-05-28 14 32 50](https://user-images.githubusercontent.com/129910/58482038-84b26d80-8155-11e9-9923-a270e191e87a.png)

[2019-05-28 13:33] benjie commented on #176
@leebyron Tagging you as I suspect you'll know who to contact about this.

[2019-05-28 22:19] acao commented on #136
Hey folks! So, if you check the agenda doc above, we updated with the outcomes of this discussion. Most importantly, Facebook officially handed off GraphiQL and codemirror-graphql to the GraphQL Foundation in that WG call.

Here is where the GraphiQL 1.0 plugin interface (an outcome of the last WG) discussion has moved to:
https://github.com/graphql/graphiql/issues/829

Please chime in there if yo

[2019-05-29 08:00] BrunoScheufler commented on #136
@acao this sounds great already, will share my thoughts in the issue. I'd also offer to contribute to the new plugin system and future graphiql development in its entirety, let me know if there's anything apart from the linked discussion regarding future features of graphiql and the ecosystem 👍

[2019-05-29 23:43] #176 closed

[2019-05-29 23:43] caniszczyk commented on #176
fixed now, sorry about that

[2019-06-04 05:15] tanaypratap commented on #136
Rikki,

I missed the initial discussion due to some work commitments. Is it
possible that I get included in the next one? If yes, where should I add my
name?

Thanks,
Tanay

On Wed, May 29, 2019 at 1:30 PM Bruno Scheufler <notifications@github.com>
wrote:

[2019-06-06 14:48] leebyron commented on #174
This is great! Should we link to this from somewhere in particular?

[2019-06-06 14:58] leebyron commented on #169
I just got you access @orta and @acao, hopefully you're able to unbreak it

[2019-06-06 16:04] acao commented on #169
@leebyron thank you!

[2019-06-06 16:19] benjie commented on #169
I just managed to sign up, so I think you can close this 👍

[2019-06-06 16:32] acao commented on #169
it works only if you are logged into Slack already, to be sure

[2019-06-06 16:58] acao commented on #136
I'll add the agenda document shortly!

[2019-06-06 17:13] acao commented on #136
Next meeting is slated for 5/18/19, same time as GraphQL WG:
https://github.com/graphql/graphiql/pull/840
Let me know if there are any major conflicts with this date (yes, short notice), otherwise I will merge this in a few hours

[2019-06-06 17:21] benjie commented on #136
@acao It's June now, my friend 😁

[2019-06-06 17:22] acao commented on #136
@benjie  6/18, my bad! haha

[2019-06-06 17:24] benjie commented on #136
(Also the PR say May in the text.) I can make Tuesday June 18th

[2019-06-06 18:17] acao commented on #169
@benjie confirmed, yes it does work anonymously now! thanks to whoever fixed it

[2019-06-06 18:17] #169 closed

[2019-06-06 18:23] orta commented on #169
I updated it 👍

[2019-06-18 02:53] acao commented on #136
Tomorrow everyone! 16:00 UTC! :)
https://github.com/graphql/graphiql/blob/master/wg-agendas/06-18-2019.md

[2019-06-18 06:05] tanaypratap commented on #136
thanks for the reminder Rikki! :)

On Tue, Jun 18, 2019 at 8:23 AM Rikki Schulte <notifications@github.com>
wrote:

[2019-07-18 20:20] dblandin opened #208 "[2019-06-06] Schedule GraphQL.org meeting"
Schedule 10-15m meeting to discuss where graphql.org is today and brainstorm action items

assignee: @tanaypratap
source: [GraphQL Working Group Meeting 2019-07-03
](https://github.com/graphql/graphql-wg/blob/ffbbdbac74e3e957c1dba814704c08ff02c35353/notes/2019-07-03.md#action-items)

[2019-07-18 20:21] dblandin opened #209 "[2019-07-03] Write up vision for code page"
Write up vision for code page

assignee: @leebyron
source: [GraphQL Working Group Meeting 2019-07-03
](https://github.com/graphql/graphql-wg/blob/ffbbdbac74e3e957c1dba814704c08ff02c35353/notes/2019-07-03.md#action-items)

[2019-07-18 20:22] dblandin opened #210 "Create Q&A on most important details"
Create Q&A on most important details (contents, etc.)

assignee: Unclaimed
source: [GraphQL Working Group Meeting 2019-07-03
](https://github.com/graphql/graphql-wg/blob/ffbbdbac74e3e957c1dba814704c08ff02c35353/notes/2019-07-03.md#action-items)

[2019-07-18 20:23] dblandin opened #211 "Check maintainers of repository"
Re: Acceptance Criteria for Editorial Changes

Check maintainers of repository

assignee: @IvanGoncharov
source: [GraphQL Working Group Meeting 2019-07-03
](https://github.com/graphql/graphql-wg/blob/ffbbdbac74e3e957c1dba814704c08ff02c35353/notes/2019-07-03.md#action-items)

[2019-07-18 20:23] dblandin opened #212 "RFC for introspection field for spec information"
RFC for introspection field for spec information

assignee: @eapache & @andimarek
source: [GraphQL Working Group Meeting 2019-07-03
](https://github.com/graphql/graphql-wg/blob/ffbbdbac74e3e957c1dba814704c08ff02c35353/notes/2019-07-03.md#action-items)

[2019-07-18 22:22] eapache commented on #212
Myself (@eapache) and @andimarek are working on this.

[2019-07-18 22:33] IvanGoncharov commented on #136
@acao I think this issue already solved. Can I close it?
BTW. I think it would be great to mention GraphiQL WG somewhere at the top of this repo README.

[2019-07-18 23:12] IvanGoncharov commented on #211
@dblandin Thanks a lot for creating these items 👍

I have commit rights on `graphql-spec` so after Lee clarified acceptances criteria I went ahead and merged all non-controversial editorial PRs.
About getting the list of people who have commit rights it looks GitHub doesn't provide this info directly (maybe because I'm not an admin for this repo) but I found a neat trick you can get this list http

[2019-07-19 12:37] acao commented on #136
yes you can close it! we are hoping for our own WG repo but thats another matter

[2019-07-19 14:01] #136 closed

[2019-07-19 19:08] dblandin commented on #211
Yep! I think this naturally falls into the "Review previous action items" section of the agenda. Sounds good!

Awesome! Agreed. A label is a lot nicer than an issue title prefix :+1:

For sure. I'll open a PR adding an issue template. That's a great idea :100:

[2019-07-19 19:14] dblandin commented on #211
@IvanGoncharov Are you able to update the assignees for the current action item issues? I've mentioned those appropriate in the PR description but I'm unable set assignees with my current contributor access.

[2019-07-19 19:46] IvanGoncharov commented on #211
@dblandin Great suggestion 👍 I thought it impossible since previously you could assign issues only to account with commit right but seems like GitHub relaxed rules a bit:

Still, I can't assign people until they comment in the issue 😞

[2019-08-06 11:10] #211 closed

[2019-08-07 19:02] eapache commented on #212
It's not ready for review, but I'm cutting a very rough first draft of the spec changes at https://github.com/eapache/graphql-spec/tree/custom-scalar-formats.

[2019-08-12 09:22] tanaypratap commented on #208
@dblandin @IvanGoncharov how should I go about scheduling this meeting? What time works for everyone?

[2019-08-12 09:25] tanaypratap commented on #208
@robzhu @BrunoScheufler @leebyron what would be an ideal time to setup this meeting and brainstorm. I have talked to the designer once and she would need vision to come up with something good.

[2019-08-12 09:26] tanaypratap commented on #209
Linked to #208

[2019-08-12 09:40] BrunoScheufler commented on #208
Good question, we should definitely think about timezones to make sure everybody can attend 🤔 Maybe we can choose a different day than Thursday so we don't interfere with any other wg meetings

[2019-08-12 10:53] IvanGoncharov commented on #210
@tanaypratap I think @leebyron already has some plan for it since he created this repo:
https://github.com/graphql/faq

[2019-08-12 10:54] benjie commented on #212
@eapache Do you think we should address versioning of these custom scalar specification documents? I think it's mostly beyond the scope of the spec, except maybe it should state that non-trivial ("functionally significant"?) changes to the specification document should result in a new `specificationUri`? E.g. JSON -> JSON5 would break previous parsers, so should require a new URI? Presumably this

[2019-08-12 13:06] eapache commented on #212
That's a really good point, I'll work that in.

[2019-08-12 13:48] robzhu commented on #208
How about these time slots? http://www.needtomeet.com/meeting?id=lael78opV

[2019-08-12 14:54] BrunoScheufler commented on #208
Both Tuesday and Wednesday would be great personally, what about the others?

[2019-08-13 17:03] robzhu commented on #208
Looks like Tanay and I are available for all three slots, and Bruno indicated Tues/Wed. Let's do 8/27 10-11AM EST. Does that work for everyone else on the thread?

[2019-08-13 17:25] tanaypratap commented on #208
We need Lee as well at least for the first meeting.

On Tue, 13 Aug, 2019, 10:33 PM Robert Zhu, <notifications@github.com> wrote:

[2019-08-13 18:10] robzhu commented on #208
@leebyron can you make any of those times?

[2019-08-19 21:47] leebyron commented on #208
8/27 10-11AM EST Works for me

[2019-08-19 22:02] robzhu commented on #208
@BrunoScheufler where should I send your invite? my email is robzhu at gmail

[2019-08-20 07:00] BrunoScheufler commented on #208
@robzhu I've sent a mail to your address!

[2019-08-26 16:37] Urigo commented on #208
Can I join as well?
(my email is public on my Github profile)
thank you

[2019-09-03 19:58] navneet-g opened #225 "Details about GraphQL Configuration for cross-tool usage in August 2019 meeting"
Apologies if creating an issue is not the right approach for my question.

I was going through the meeting notes for [August Meeting Notes](https://github.com/graphql/graphql-wg/blob/master/notes/2017-08-14.md#graphql-configuration-for-cross-tool-usage).

There is a mention of discussion around improvements for gateway services.

Where can I find details about the discussion and next steps?
For ex

[2019-09-03 20:15] IvanGoncharov commented on #225
@navneet-g It was August 2017 so I'm not 100% sure but I think we were discussing:
https://github.com/prisma/graphql-config
Sorry, can't remember anything else 🤷‍♂

[2019-09-03 20:28] navneet-g commented on #225
My apologies ... I looked at the month, should have looked at year as well :).

[2019-09-03 20:45] IvanGoncharov commented on #225
@navneet-g I also think it was a period when Apollo and a few other vendors were developing the first generation of GraphQL gateways.
So I would assume that `graphql-config` was the main topic and we just had a side discussion if it's possible to reuse it to configure gateways.

Is there anything else I can help?

[2019-09-03 20:47] navneet-g commented on #225
Thanks @IvanGoncharov I was interested in knowing if something similar to [Apollo Federation](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/) specification is on the radar for the GraphQL spec.

[2019-09-12 18:50] eapache opened #246 "[Experiment] Generic bulk queries in GraphQL"
Public docs at https://help.shopify.com/en/api/guides/bulk-operations/, but this is still experimental/beta.

At Shopify we've seen a lot of clients who need to fetch large quantities of data (e.g. all 10k products on a shop). We follow relay pagination, so typically they would do this via paginated requests (e.g. 100 requests for 100 products each) but this is inefficient in that it results in a

[2019-09-17 22:06] wtrocki commented on #246
Subscriptions can be acceptable way to make this work.
Subscription can return initial payload which can be some info about the size and time and the client subscribes to get S3 URL once batch job is done.

[2019-09-20 16:48] dwwoelfel commented on #246
Subscriptions would have one big advantage, in that you could use a normal graphql selection set to describe the query instead of using a string. For example:

[code]

  turns into

[code]

Writing the query would much easier because you can leverage the existing tooling. The downside is that communicating the job information to the client *doesn't* use a normal graphql selection set. You could st

[2019-10-08 23:43] leebyron opened #261 "Spec cut date?"
I'd like to start a discussion about when we should cut the next release of the GraphQL specification.

It has been 16 months since the last release, and some significant changes and iterative improvements have been made in that time. The previous two release have 20 months between them.

I'd like to return to an annualized and predictable schedule for specification releases.

[2019-10-08 23:46] leebyron commented on #261
Looking at the current set of [proposals to the spec](https://github.com/graphql/graphql-spec/pulls), we have *6* stage 2 draft proposals.

An action for me as the spec editor is to review all of these and decide which need significant changes and which are ready to go with minor touch-ups.

I think we should be able to reach stage 3 with most, if not all of these proposals before cutting the spec

[2019-11-05 06:57] guettli commented on #210
Where can new comers ask question about GraphQL? Please answer this question in the FAQ.

[2019-11-06 19:51] spawnia commented on #261
I think that this year would be a good time to make the release.

The current stage 2 proposals are either spec-only or have solid implementations backing them up. I don't see any stage 1's or stage 0's that are on the cusp of getting there.

[2019-11-07 10:00] ErikWittern opened #291 "Updating CLAs and copyright notices in GraphQL repos"
Some issues maintained by the GraphQL foundation still point to Contributor Licence Agreements hosted by Facebook, i.e.:

* ~~https://github.com/graphql/libgraphqlparser/blob/master/CONTRIBUTING.md~~ (addressed in https://github.com/graphql/libgraphqlparser/pull/93)
* https://github.com/graphql/dataloader/blob/master/CONTRIBUTING.md

We could either remove the requirement to sign a CLA, or provide

[2019-11-07 13:57] IvanGoncharov opened #293 "GraphQL over HTTP specification"
We previously discussed the possibility of such spec and I went ahead and create MVP:
https://github.com/APIs-guru/graphql-over-http
It would be great if we adopt it under GraphQL Foundation as a complementary spec.
I'm still interested in collaborating but I would love if the community and industry leaders take a lead and we can form a subgroup to work on it.

[2019-11-07 17:01] sjparsons commented on #293
Thanks for opening this @IvanGoncharov I'm interesting in being part of a subgroup around this topic.

[2019-11-07 17:15] robzhu commented on #293
@IvanGoncharov I really like the direction of this proposal. I wonder how far the spec will go. For instance, will you be describing how to populate common HTTP Response headers? I'm also interesting in being part of this subcommittee.

[2019-11-07 18:21] michaelstaib commented on #293
I am also really interested in this one.

[2019-11-07 18:35] tinnou commented on #293
I'm interested as well. Let me know how I can help.

[2019-11-07 18:41] abernix commented on #293
I'm also interested!

[2019-11-07 18:45] ghmcadams commented on #293
I am also interested in participating in the sub group.

[2019-11-07 19:21] IvanGoncharov commented on #293
I actually think this issue is a good place to discuss the time and date for the meetings. How about last Thursday of the month to not intersect with GraphQL WG?
So how about to 28th of November for a first call and use the same time as GraphQL WG which is 5PM UTC?
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2019&month=11&day=28&hour=17&min=0&sec=0&p1=224&p2=179&p3=136&p4=37&p5

[2019-11-07 19:26] sjparsons commented on #293
I think in general that would be good time, except Nov 28 is Thanksgiving for people US; so I will be on holiday with family.

[2019-11-07 19:33] IvanGoncharov commented on #293
@sjparsons Good catch 👍
How about November 21th for the first one?

[2019-11-07 19:55] michaelstaib commented on #293
But let’s wait for the feedback of @robzhu before we settle for a date.

[2019-11-07 20:08] mike-marcacci commented on #293
I'll definitely join this; the 21st would work for me.

[2019-11-07 21:01] robzhu commented on #293
Nov 21 works for me

[2019-11-13 12:08] benjie commented on #293
28th would not have worked for me, but 21st does :+1:

[2019-11-13 13:35] ErikWittern commented on #293
Nov. 21st works for me as well.

[2019-11-16 16:58] ghmcadams commented on #293
Who would like to create an agenda event (with a video conference link, agenda items, goals, etc.) for this?  I think it would help to get more people who are interested in that they can plan ahead.

[2019-11-19 10:33] IvanGoncharov commented on #293
@ghmcadams Absolutely agree. I went ahead and created the agenda here:
https://github.com/APIs-guru/graphql-over-http/blob/master/agendas/2019-11-21.md

As I said during WG I want to give more power to the community on this one.
I still want to participate as a member and also help with technical stuff (repo management, Zoom, etc.) but it would be great for someone else to lead the discussion.

@s

[2019-11-19 15:08] sjparsons commented on #293
Thanks @IvanGoncharov, I'd be glad to lead the discussion. I'll submit a PR later today adding it to the agenda.

[2019-11-19 22:23] IvanGoncharov commented on #293
СС: @leebyron @sjparsons @robzhu @michaelstaib @mike-marcacci @benjie @ErikWittern @ghmcadams @deinok  @jaydenseric @mmatsa @sjparsons @spawnia @sungam3r @xuorig @abernix @jbaxleyiii @DanielWoelfel @eapache @glennblock

It looks like everything is ready 🎉
We will have a first call for the "GraphQL over HTTP" group this Thursday, Nov 21th at 5 PM UTC.
If you want to join in, please add yourself and

[2019-11-19 23:12] deinok commented on #293
I will try to be there

[2019-12-05 17:13] eapache commented on #212
This action item is effectively done, the RFC exists and is nicely in progress https://github.com/graphql/graphql-spec/issues/635

[2020-01-06 22:57] Keweiqu opened #329 "GraphQL @defer and @stream"
We’ve been experimenting with @defer and @stream at Facebook for a while now  -- Lee first discussed the[ idea of @defer and @stream]( https://www.youtube.com/watch?v=ViXL0YQnioU&feature=youtu.be&t=9m4s) in 2016. Over the last three years, we've done a ton of iterations as we uncovered and resolved issues and edge cases following that initial approach. We're now seeing a renewed demand for these i

[2020-01-09 11:57] praveenweb commented on #208
Did this meeting take place already? If so, would like to see the action items. Would love to contribute :)

[2020-03-05 19:51] binaryseed opened #378 "Schedule working session with Input Union RFC champions"
Our next step in the Input Union RFC process is to gather the individual solution champions for a working session where we can dive into the details of solutions and try to make some progress towards a proposed solution.

* https://github.com/graphql/graphql-spec/blob/master/rfcs/InputUnion.md

Our aim is to have this meeting about 1 week before the next general Working Group meeting:
* https://gi

[2020-03-10 09:03] benjie commented on #378
I can't do that time unfortunately (I'm already double booked :confounded:). Could we push it back 2 hours - 18:00-21:00 UTC?

Alternatively the Monday and Tuesday before and after that date are currently wide open for me.

[2020-03-10 14:41] eapache commented on #378
I'm free any of those times on the 26th. Monday/Tuesdays also mostly work for me.

What time zones are folks in? We might be able to find a more convenient time with a smaller group of time zones here than the full working group. I'm GMT-5.

[2020-03-11 12:20] benjie commented on #378
I'm in UK, so GMT (UTC) until 29th March, BST (UTC+1) after.

[2020-03-22 05:36] binaryseed commented on #378
I'm GMT-7

I can do 26th as well

[2020-03-27 17:12] benjie commented on #378
Do we want to try and squeeze in a meeting before the Spec WG, or retry next month?

[2020-03-30 20:04] eapache commented on #378
I think it's probably too late to try and squeeze something in at this point. The last month or so has been a bit of a mess for the entire world, so I'm not feeling particularly rushed to get this together, though a doodle poll or something might be nice to help us figure out a good time to meet?

[2020-03-30 20:15] eapache commented on #378
(Also want to mention that I spent some time trying to fill in the gaps in https://github.com/graphql/graphql-spec/blob/master/rfcs/InputUnion.md and found it really hard to ensure consistency between the various cross-referenced tables of criteria by solution and solution by criteria.)

[2020-04-14 16:21] dblandin commented on #212
Awesome! Going to go ahead and close this issue :tada:

[2020-04-14 16:21] #212 closed

[2020-04-14 16:23] dblandin commented on #210
Going to close this issue as https://github.com/graphql/faq is up and running :+1:

[2020-04-14 16:23] #210 closed

[2020-04-17 10:25] benjie opened #392 "Add more upcoming agendas"
We should definitely have June's up before the May WG, at least :+1:

[2020-05-06 18:02] #392 closed

[2020-06-11 04:30] leebyron opened #423 "[2020-05-07] Making sure we have agenda items for the rest of the year"
https://github.com/graphql/graphql-wg/blame/master/notes/2020-05-07.md#L29

[2020-06-11 04:31] leebyron opened #424 "[2020-05-07] Custom scalar specification URIs editorial pass"
https://github.com/graphql/graphql-wg/blame/master/notes/2020-05-07.md#L36

[2020-06-11 04:32] leebyron opened #425 "[2020-05-07] introspection shortcuts RFC: describe the problem"
Discuss RFC adding introspection shortcuts to determine full typename and named type’s name (15m, Terrence)

[ACTION - Terrance] - describe the problem, look at the landscape of potential solutions, and figure out which ones are appropriate or not

https://github.com/graphql/graphql-wg/blame/master/notes/2020-05-07.md#L67

[2020-06-11 04:33] leebyron opened #426 "[2020-05-07] Update Input Union RFC after recent subcommittee meetings"
https://github.com/graphql/graphql-wg/blame/master/notes/2020-05-07.md#L104

[2020-06-11 04:34] leebyron opened #427 "[2020-05-07] Add InputUnion solution criteria that error messages are well specified"
https://github.com/graphql/graphql-wg/blame/master/notes/2020-05-07.md#L120

[2020-06-11 04:35] leebyron opened #428 "[2020-05-07] Include defer/stream problem statements in RFC doc"
https://github.com/graphql/graphql-wg/blame/master/notes/2020-05-07.md#L168

[2020-06-11 04:40] leebyron commented on #423
Closed by 0675a8037b874205091cad1897634abb8a3793bb

[2020-06-11 04:40] #423 closed

[2020-06-11 04:42] leebyron commented on #428
I believe this was handled by https://github.com/graphql/graphql-spec/pull/717 - is there more to do @robrichard ?

[2020-06-11 04:42] leebyron commented on #329
Closing this issue since it's now a recurring agenda item!

[2020-06-11 04:42] #329 closed

[2020-06-11 04:43] leebyron commented on #378
Closing this since we scheduled and met!

[2020-06-11 04:43] #378 closed

[2020-06-11 13:50] robrichard commented on #428
@leebyron I believe all the points discussed are covered in the RFC now. Thanks!

[2020-06-11 16:16] #428 closed

[2020-06-12 12:03] benjie commented on #425
@chemisus Are you interested in following up on this topic?

[2020-06-16 17:04] chemisus commented on #425
@benjie Yes, I am.

[2020-06-17 07:27] benjie commented on #425
@IvanGoncharov / @leebyron Please assign this to @chemisus

[2020-09-02 11:09] benjie commented on #426
Video of session: https://www.youtube.com/watch?v=4NSTbtXRCqY

[2020-09-02 11:09] benjie commented on #426
Notes we took during session:

https://github.com/graphql/graphql-spec/blob/master/rfcs/InputUnion.md

Last months actions:
- Write up solution 6 (merged solutions 1-3) - @leebyron
- Write up how literal values would be reflected in introspection, and contemplate uniqueness requirements - @Vince Foley
- What forms can @oneOf take? Can we express input unions in a similar way using oneOf? Can they

[2020-09-03 16:00] IvanGoncharov opened #477 "[2020-09-03] GitHub infrastructure for managing Working groups"
How other working groups should be managed on GitHub?

[2020-09-04 05:25] caass commented on #329
@leebyron is there somewhere i can keep up with the progress of `@stream` and/or `@defer`? Asking because this is the first result when googling "graphql @stream"

[2020-09-04 08:32] benjie opened #483 "[2020-09-03] Add checkbox to issue template to confirm agreements are signed"
[Regarding cutting a version of the spec]

ACTION - Lee: mention this issue template idea to Brian

- assignee(s): @leebyron @brianwarner
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 08:34] benjie opened #484 "[2020-09-03] Organize input value deprecation spec text update and GraphQL.js merge"
- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#allowing-deprecation-of-inputs-10m-evan

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 08:36] benjie commented on #484
@IvanGoncharov When you'd like me to review something just ping me on the relevant issue/PR. (Normally I get to notifications within a week; if you need it quicker, you can ping me in GraphQL Slack too.)

[2020-09-04 08:39] benjie opened #485 "[2020-09-03] Call to organize collaboration on TypeScript migration of GraphQL.js"
- assignee(s): @IvanGoncharov @dotansimha
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#typescript-migration-progress-in-graphql-js-5m-dotan-how-to-bootstrap-graphql-js-working-group-5m-dotan-github-infrastructure-for-managing-working-groups-10m-ivan

---

_Note: Action Item issues are reviewed and closed during Working Group
meet

[2020-09-04 08:40] benjie opened #486 "[2020-09-03] Contact Matt about Flow support in TypeScript version of GraphQL.js"
- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#typescript-migration-progress-in-graphql-js-5m-dotan-how-to-bootstrap-graphql-js-working-group-5m-dotan-github-infrastructure-for-managing-working-groups-10m-ivan

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 08:41] benjie commented on #486
Note: this was not explicitly marked as an action item during the WG, so please feel free to close it if it's inappropriate.

[2020-09-04 08:43] benjie commented on #477
I believe this relates to the following item from [the TypeScript Migration / bootstrap GraphQL-js WG / GitHub infrastructure discussion](https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#typescript-migration-progress-in-graphql-js-5m-dotan-how-to-bootstrap-graphql-js-working-group-5m-dotan-github-infrastructure-for-managing-working-groups-10m-

[2020-09-04 08:46] benjie opened #487 "[2020-09-03] Update @defer/@stream RFC with more thorough explanation of fragments vs fields"
Discussion related to limiting @defer/@stream to only fragments vs also allowing it on fields. This was explained well in WG, Rob agreed to add it to the RFC

- assignee(s): @robrichard
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#deferstream-15m-robliliana

---

_Note: Action Item issues are reviewed and closed during Working Gr

[2020-09-04 08:49] benjie opened #488 "[2020-09-03] License missing in scalars subproject"
It was pointed out that the scalars subproject does not have a license currently. Lee suggested we'd use the OWFa license, but actioned himself to follow up with Brian to make sure licensing is done right.

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#scalars-subproject-andreas-marek

---

_Note: Action I

[2020-09-04 08:51] benjie opened #489 "[2020-09-03] Create PR merging policy and grant more contributors maintainer access to WG repo"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/b1bfe0cee461d752146dc77e5c35a5e8d7921272/notes/2020-09-03.md#any-other-business

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 11:32] IvanGoncharov opened #490 "Create Issue for Action items from previous calls"
Go through notes for previous calls and create action items for them.
Note: @benjie already created all action items for the Sep2020 call, so Aug2020 is the next target 🎯

- assignee(s): any volunteer
- source: something that we should do every month
---

[2020-09-04 16:56] benjie commented on #293
This is now adopted under the GraphQL Foundation: https://github.com/graphql/graphql-over-http/ I believe we can close this item at the next WG meeting (or now @IvanGoncharov?)

[2020-09-04 17:02] benjie commented on #490
There was an action for opening action issues in August so I've tagged this with that date. Source:

https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#review-previous-meetings-action-items-5m-lee

[2020-09-04 17:08] benjie opened #491 "[2020-08-06] Get involved with the GraphQL Scalars Project"
Get involved: https://github.com/graphql/graphql-scalars

- assignee(s): EVERYONE!
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#custom-scalar-update-5m-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 17:10] benjie opened #492 "[2020-08-06] Review GraphQL over HTTP 124"
Rob - opened up a PR to GraphQL-over-HTTP; more eyes desired
[ACTION - GraphQL-over-HTTP WG] - Review graphql/graphql-over-http/pull/124

- assignee(s): ─
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#deferstream-15m-robliliana

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 17:10] #492 closed

[2020-09-04 17:12] benjie opened #493 "[2020-08-06] Clarify the problem that Field Coordinates is addressing"
- assignee(s): @magicmark
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#field-coordinates-rfc-15m-mark

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 17:14] benjie commented on #485
This was also raised as an action in August

https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#typescript-migration-plan-progress-and-next-steps-10m-dotan

[2020-09-04 17:19] benjie opened #494 "[2020-08-06] Determine contributors, owners, merge rights for GraphQL-js"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#typescript-migration-plan-progress-and-next-steps-10m-dotan

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 17:20] benjie commented on #494
Oop, on reading further I think it was determined that only the GraphQL.js call was required as an action for now:

Closing.

[2020-09-04 17:20] #494 closed

[2020-09-04 17:22] benjie opened #495 "[2020-08-06] Add YouTube WG links to the notes"
- assignee(s): ─
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-08-06.md#any-other-business

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-09-04 17:23] benjie commented on #495
Solved in https://github.com/graphql/graphql-wg/pull/467

[2020-09-04 17:27] magicmark commented on #493
ack - got a draft going to revise the RFC!

[2020-09-04 17:30] benjie commented on #493
The meeting notes now have a link to the YouTube recording of the meeting in case it helps :+1:

[2020-09-04 20:41] glennblock commented on #293
Great to see that this has been incorporated into the foundation!

[2020-09-04 21:12] IvanGoncharov commented on #293
@benjie Thanks for ping 👍

[2020-09-04 21:12] #293 closed

[2020-09-17 09:41] magicmark commented on #493
I've updated the problem statement in theand added some (hopefully) extra crispy use cases :)

https://github.com/graphql/graphql-spec/pull/746

Still working on a full breakdown of the spec (not sure how implementation detaily to get at this stage), but hopefully I've addressed this specific issue.

Thanks!

[2020-10-01 15:31] IvanGoncharov commented on #486
We discussed it during the `graphql-js` WG call and @dotansimha @Urigo volunteered to help with maintaining Flow typings. That resolves my main concern about Flow support since we finally have enough volunteers to maintain them.

[2020-10-01 15:40] benjie opened #505 "[2020-07-02] Require Argument Uniqueness"
- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-07-02.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-01 15:43] benjie opened #507 "[2020-07-02] Moving the @deprecated directive on Input Fields RFC to Stage 2"
- assignee(s): ─
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-07-02.md#moving-the-deprecated-directive-on-input-fields-rfc-to-stage-2-15m45m-stephen

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-01 15:44] benjie commented on #507
Sorry that's a lot of actions; we can absolutely split them up but I'm trying to get them filed before the WG :grimacing:

[2020-10-01 15:45] benjie opened #508 "[2020-07-02] Give feedback on @defer/@stream"
https://github.com/graphql/graphql-spec/pull/742

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-07-02.md#deferstream-15m-robliliana

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-01 15:47] benjie opened #509 "[2020-07-02] Read over GraphQL Custom Scalar PR"
Custom scalar PR: https://github.com/graphql/graphql-spec/pull/649

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-07-02.md#graphql-custom-scalar-pr-in-spec-graphqlgraphql-specpull649

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-01 15:49] benjie opened #510 "[2020-06-11] GraphQL Scalars hosting - schedule call with Andi"
- assignee(s): ─
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-06-11.md#graphql-scalars-hosting-and-coordination-10m-evan-and-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-01 15:52] benjie opened #511 "[2020-06-11] Update Tagged Types RFC to include "everything we discussed""
- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-06-11.md#input-union--tagged-types-30m-lee-benjie-evan-vince-1

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-01 15:53] benjie commented on #511
This was completed: https://github.com/graphql/graphql-spec/pull/733

[2020-10-01 16:04] eapache commented on #507
(my part of this was completed in August)

[2020-10-01 16:14] #486 closed

[2020-10-01 16:14] #493 closed

[2020-10-01 16:14] #511 closed

[2020-10-01 16:20] #424 closed

[2020-10-01 16:20] #483 closed

[2020-10-01 18:29] benjie opened #516 "[2020-10-01] Determine if there are missing action items for October 2020"
I think some action items were missed from the notes, so we should go through the YouTube video and update the notes where relevant.

- assignee(s):
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-02 08:38] benjie opened #517 "[2020-07-02] Input Field @deprecated; talk to Shopify to determine SHOULD vs MUST"
assignee(s): @eapache
source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-07-02.md#moving-the-deprecated-directive-on-input-fields-rfc-to-stage-2-15m45m-stephen

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-02 08:39] benjie commented on #517
@eapache confirmed in https://github.com/graphql/graphql-wg/issues/507#issuecomment-702237094 that this was completed; and I believe this was stated on the WG call yesterday, so closing this.

[2020-10-02 08:39] #517 closed

[2020-10-02 08:40] benjie commented on #507
Thanks; separated out to #517 :+1:

[2020-10-02 08:40] benjie opened #518 "[2020-07-02] Add schema validation to GraphQL.js that enforces @deprecated on nonnull"
assignee(s): @IvanGoncharov
source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-07-02.md#moving-the-deprecated-directive-on-input-fields-rfc-to-stage-2-15m45m-stephen

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-10-02 08:43] benjie commented on #517
Additional details in this comment: https://github.com/graphql/graphql-spec/pull/525#issuecomment-685934302

[2020-10-02 08:47] benjie commented on #518
@IvanGoncharov I think you said on the call yesterday that this was complete?

[2020-10-02 14:27] IvanGoncharov opened #519 "WG recordings"
We have zoom recordings of previous calls that include automatic transcription.
Please don't reference these recordings because we have storage limits on our Zoom plan so these links can become inactive at some point.
Youtube videos for linking purposes: https://www.youtube.com/channel/UCERcwLeheOXp_u61jEXxHMA
**Password for Zoom recordings is `graphqlwg`**

## GraphQL WG

* Nov 7, 2019 [Zoom](htt

[2020-10-15 13:23] brianwarner commented on #519
Hi,

If that URL is too long to remember, you can also go to https://youtube.graphql.org :-)

Also, the October 1, 2020 and Apr 30, 2020 videos are now uploaded. Thanks for finding those, @IvanGoncharov, I wasn't aware we'd missed the input union video.

Also, yes - to confirm, the Zoom links will expire when the account runs out of storage. On some Zoom accounts they expire after a certain number

[2020-10-21 16:44] Urigo commented on #477
update:
I've just set up a copy of the structure @benjie has been leading in the graphql-js WG: https://github.com/graphql/graphql-js-wg/pull/1
and opened issues for action items here: https://github.com/graphql/graphql-js-wg/issues

I wasn't able to do exactly everything for the lack of permissions but it's a step closer

[2020-10-21 16:45] Urigo commented on #485
Update:
We've had the first graphql-js working group and the next step for this item is mostly on the [following action item](https://github.com/graphql/graphql-js-wg/issues/7)

[2020-10-21 16:45] benjie commented on #477
@Urigo Do you want me to add this for review at next WG, or hold off until the extra things requiring permissions are addressed?

[2020-10-21 16:47] Urigo commented on #477
Yes let's add it for review, I'm sure the rest of the stuff are minor and would be solved on the next day or two

[2020-10-27 18:29] brianwarner opened #522 "Google Summer of Code 2021"
Google has announced the timeline for [Summer of Code](https://summerofcode.withgoogle.com/). The format has changed somewhat for next year, in that timelines are shorter, projects are smaller, and the pool of candidates is expected to be broader.

Organizational applications begin January 29, 2021 and close February 19, 2021. If your project is interested in being included in a consolidated Graph

[2020-11-04 15:20] benjie commented on #426
I've updated a PR adding Solution 7 (tagged type) to Input Unions RFC: https://github.com/graphql/graphql-spec/pull/790 (this link also explains why "Solution 7" rather than replacing "Solution 5")

[2020-11-04 21:28] robrichard commented on #487
I have updated this PR with the points discussed in the WG meeting: https://github.com/graphql/graphql-spec/pull/774

[2020-11-05 13:51] IvanGoncharov commented on #522
@brianwarner I liked GSoC this year and it was a great learning experience on how to onboard new contributors.
So happy to be a mentor for `graphql-js`, `express-graphql` and `graphql-over-http` projects.

[2020-11-05 16:26] IvanGoncharov commented on #505
`graphql-js` is in feature freeze due to TS conversion.
I will work on it after `16.0.0` release.

[2020-11-06 11:35] benjie opened #538 "[TSC] Process: if a TSC member raises a PR, does that count as an approval?"
From ["Making changes to this document"](https://github.com/graphql/graphql-wg/blob/master/GraphQL-TSC.md#making-changes-to-this-document) (emphasis mine):

Currently #536 is open, raised by @leebyron, with approval from one other TSC member (myself). On GitHub you cannot "approve" your own PRs, so my question is this: does a TSC member raising a PR count as an implicit approval, or should we avoi

[2020-11-06 22:21] leebyron commented on #538
Great question! Two approvers, not including the author. This is how most other TSC operate - the goal is to make sure multiple people have had a chance to see the change, regardless of who the author is.

I can add a clarifying message to this line!

[2020-11-07 15:50] tvvignesh opened #540 "Helping with Advocating GraphQL and its ecosystem"
Hi. I have been using GraphQL and its ecosystem for quite sometime now including graphqljs (indirectly through abstractions), Apollo/Mercurius, GraphiQL/Playground, Dataloader. VSCode GraphQL, Apollo Federation, and recently with the tools developed by the Guild like the graphql-tools, graphql-mesh, graphql-lint, graphql-codegen, graphql-mesh, etc. and even other providers who leverage GraphQL lik

[2020-11-07 16:20] tvvignesh commented on #540
As a start, I am going to start a GraphQL Blogging series starting November 15th with one blog every 5 days covering the entire stack taking one piece at a time. Will share the links to the same as I do that in this same issue.

**PS:** This wouldn't be a tutorial series, there are already lots out there and I will be linking to those. This is meant to be a guide for anyone who wants to start and

[2020-11-08 14:38] benjie opened #542 "[2020-11-05] Give feedback on the Schema Coordinates suggested GraphQL Spec Appendix"
https://github.com/graphql/graphql-spec/pull/746

- assignee(s): everyone; spearheaded by @magicmark
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-11-05.md#schema-coordinates

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-11-08 14:39] benjie opened #543 "[2020-11-05] Update agendas to recommend adding GitHub username"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-11-05.md#any-other-business

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-11-08 14:46] benjie opened #544 "[2020-10-01] Split issue 507"
- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md#update-on-action-item-tracking-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-11-08 14:47] benjie opened #545 "[2020-10-01] Review Query Ambiguity PR"
PR to look at: https://github.com/graphql/graphql-spec/pull/777

- assignee(s): everyone
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md#query-ambiguity-discussion-of-replacement-terms-25m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-11-08 14:48] benjie commented on #545
Marking ready for review because I believe there's been a fair amount of feedback. Thanks everyone :raised_hands:

[2020-11-08 14:50] benjie opened #546 "[2020-10-01] Add non-controversial "Query Ambiguity" spec edits into a separate PR"
[PR 777](https://github.com/graphql/graphql-spec/pull/777) was deliberately heavy handed to get a discussion going. The parts of it that are simple wins that few are likely to complain about should be pushed through.

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md#query-ambiguity-discussion-of-replacement-terms-25m-benjie

---

_Note: Action

[2020-11-08 14:53] benjie opened #547 "[2020-10-01] Putting a glossary into the spec"
[PR 777](https://github.com/graphql/graphql-spec/pull/777) suggests adding a glossary, Lee states:

Assigning to Benjie and Lee to discuss what this would look like; does it need spec-md changes? What's the scope? Discussion below.

- assignee(s): @leebyron @benjie
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md#query-ambiguity-discussion-of-replacement-terms-25m-be

[2020-11-08 14:54] benjie commented on #547
Hey @leebyron; separate to 777 itself, what would adding a glossary to the GraphQL spec look like? Is this something we'd want to have spec-md support explicitly, or is a manual collection of terms sufficient for now? Should we start a glossary RFC we merge to, and then when it's ready (which I imagine will take many months, and many contributors) move it over to the spec?

[2020-11-08 14:58] benjie opened #548 "[2020-10-01] Add validation rule to forbid introspection fields in the root of a GraphQL subscription"
`__typename` at the root of a subscription operation throws an error. It doesn't make sense to support it. It was agreed that since it already doesn't work, adding an explicit validation rule to forbid it would make sense and be "non-breaking".

Original PR here: https://github.com/graphql/graphql-spec/pull/776

TODO:

- [x] PR to spec
- [x] PR to GraphQL.js

- assignee(s): @benjie
- source: https

[2020-11-08 15:01] benjie opened #549 "[2020-10-01] Turn Schema Coordinates RFC into a spec edit PR"
The RFC PR currently contains an RFC document, we should also have a PR adding an appendix to the GraphQL Spec.

- assignee(s): @magicmark
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md#schema-coordinates-rfc-check-in-5m-mark

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-11-08 15:03] benjie commented on #549
Marked as Ready for review as Mark performed this action.

Since Mark did this work and it was discussed in the 2020-11-05 Spec WG meeting, I believe that had I filed the issue in time it would have been closed at the WG meeting, so I'm going to go ahead and close it.

[2020-11-08 15:03] #549 closed

[2020-11-08 15:08] benjie opened #550 "[2020-10-01] Send removal notices to existing GraphQL.js contributors"
- assignee(s): @IvanGoncharov @Urigo
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-10-01.md#graphql-js-working-group-short-update-5m-uri

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-11-08 15:09] benjie commented on #550
Edited to add @Urigo for the second action, since really these are one action I feel?

[2020-11-08 15:12] benjie commented on #544
Completed; issue was split between #507 and #517. This was reviewed indirectly in the 2020-11-05 WG:

https://github.com/graphql/graphql-wg/blob/master/notes/2020-11-05.md#review-action-items

Closing this.

[2020-11-08 15:12] #544 closed

[2020-11-08 15:17] benjie commented on #516
I have filed the action items for October (sorry for the delay, it was a hell of a month!); I attempted to use the Zoom recording referenced in #519 for October 2020 to search the transcript for "action" / "next steps" and similar words, but alas was unable to access the recording.

![Screenshot_20201108_151716](https://user-images.githubusercontent.com/129910/98469079-7f27d680-21d5-11eb-9d53-7479

[2020-11-08 15:28] benjie commented on #548
@IvanGoncharov Given GraphQL.js is in feature freeze; should I hold off on this PR to GraphQL.js?

[2020-11-08 15:31] benjie commented on #487
This was discussed during the 2020-11-05 WG here:

https://github.com/graphql/graphql-wg/blob/master/notes/2020-11-05.md#defer-and-stream

[2020-11-08 15:32] benjie commented on #519
I can't seem to get into the Zoom recordings (want access to their transcripts) as either the link or the password for Oct 1 2020 seems to be incorrect?

[2020-11-08 18:27] brianwarner commented on #519
I'll find you on slack and we can figure it out.

On Sun, Nov 8, 2020, 10:32 AM Benjie Gillam <notifications@github.com>
wrote:

[2020-11-08 19:44] Urigo commented on #550
Should we iterate on the notice content here?

[2020-11-09 15:57] IvanGoncharov commented on #519
@brianwarner @benjie I updated the message with a password for Oct1.

[2020-11-09 18:32] benjie commented on #519
Thanks @IvanGoncharov

[2020-11-09 18:33] benjie commented on #516
I've searched through the transcript for what I could think of and we don't seem to have explicitly called out any extra action items, so I'm closing this meta-issue.

[2020-11-09 18:33] #516 closed

[2020-11-13 00:11] #538 closed

[2020-11-15 16:15] tvvignesh commented on #540
Here is a link to the draft of my first blog post (haven't published it yet): https://medium.com/@tvvignesh/graphql-diving-deep-c7c0abe608b2

[2020-11-15 17:49] tvvignesh commented on #540
Have published it. Available at https://medium.com/timecampus/graphql-diving-deep-c7c0abe608b2

Will have the next blog post ready on Nov 20th.

[2020-11-18 15:59] eapache commented on #426
Thanks Benjie, that's great. I think that probably is enough to close out this action item? There were other parts to it initially, but since Tagged Type seems to be the leading solution now I don't know if it's worth e.g. doing more investigation into solution 6?

[2020-11-18 17:55] eapache commented on #427
This is now done, but I don't have perms to close it.

[2020-11-18 18:03] benjie commented on #426
I think if someone wants to champion it, that would be stellar. But I think you're right that this can be closed. Scheduled it for review at the next WG.

[2020-11-18 18:03] benjie commented on #427
Scheduled for closing at the next WG :+1:

[2020-11-20 12:39] tvvignesh commented on #540
Hi. Next blog in the series published here: https://medium.com/timecampus/graphql-the-usecase-architecture-76e7e932d8de

Will have the next blog post ready by Nov 25th.

[2020-11-20 12:48] n1ru4l commented on #329
Just wanna link this here (as this issue always pops up first in google):

[Official Feedback Issue for graphql.js defer & stream](https://github.com/graphql/graphql-js/issues/2848)

[2020-11-25 16:01] benjie commented on #209
I've seen a lot of work on the code page; this might not be relevant any more.

[2020-11-25 16:30] benjie commented on #425
@chemisus Did you get anywhere with this? Are you still interested in following up?

[2020-11-25 16:33] benjie commented on #510
@IvanGoncharov Was this actioned? If so, please add the "Ready for review" label.

[2020-11-25 16:33] tvvignesh commented on #540
Hi. Next blog in the series published here: https://medium.com/timecampus/graphql-the-stack-1-99a8e4f820c2

Will have the next blog post ready by Nov 30th.

[2020-11-25 17:07] dblandin commented on #209
Agreed! Following the awesome work from https://github.com/graphql/graphql.github.io/pull/936, I think we can go and close this issue 👍 🎉

[2020-11-25 17:58] benjie commented on #548
Spec PR updated, GraphQL.js PR filed.

[2020-11-25 18:11] benjie commented on #209
Thanks for confirmation @dblandin :+1:  I believe the process is that we close these issues during GraphQL Working Groups, so I'm going to reopen it temporarily.

[2020-11-30 10:20] tvvignesh commented on #540
Hi. Next blog in the series published here: https://medium.com/timecampus/graphql-the-stack-2-fc13cfac5e90

Will have the next blog post ready by Dec 5th.

[2020-12-03 18:40] #208 closed

[2020-12-03 18:41] #209 closed

[2020-12-03 18:41] #426 closed

[2020-12-03 18:42] #427 closed

[2020-12-03 18:43] #510 closed

[2020-12-03 18:44] #491 closed

[2020-12-03 18:50] #485 closed

[2020-12-03 18:50] leebyron commented on #477
Note from meeting: Next step on me to write a proposal for how to evolve the graphql-wg directory structure

[2020-12-03 18:50] #545 closed

[2020-12-03 18:51] #548 closed

[2020-12-03 18:51] #487 closed

[2020-12-03 18:53] #484 closed

[2020-12-03 19:08] benjie commented on #425
We'll be closing this during the next working group if no further progress is noted; we can always open a replacement issue when you have available time :+1:

[2020-12-04 10:45] benjie opened #564 "[2020-12-03] Complete GraphQL.js implementation of subscription introspection validation rule"
https://github.com/graphql/graphql-spec/pull/776 was made [RFC 1 (Proposal)](https://github.com/graphql/graphql-spec/blob/master/CONTRIBUTING.md#stage-1-proposal) during the WG call; next month we should aim to advance it to [RFC 2 (Draft)](https://github.com/graphql/graphql-spec/blob/master/CONTRIBUTING.md#stage-2-draft). The main task for this is to advance this GraphQL.js PR: https://github.com

[2020-12-04 11:13] benjie opened #565 "[2020-12-03] Convene a meeting of the GraphQL Input Unions WG"
Organizing using the GraphQL Slack #wg channel; see this thread:

https://graphql.slack.com/archives/CTECCMU57/p1606562127018400

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2020-12-03.md#review-agenda-2m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2020-12-04 11:33] benjie opened #566 "[2020-12-03] Default value coercion: work on advancing through RFC process"
The RFC https://github.com/graphql/graphql-spec/pull/793 has been accepted as RFC 1 (Proposal), but it needs work to advance it to RFC2. @benjie is spearheading this work.

- assignee(s): @benjie (and @leebyron for help with [the no infinite recursion during coercion validation rule](https://github.com/graphql/graphql-spec/pull/793#issuecomment-738736539))
- source: https://github.com/graphql/grap

[2020-12-04 12:04] benjie commented on #508
This is probably complete; marking for review.

[2020-12-04 12:08] benjie commented on #507
I'm not sure exactly what the state of this is; https://github.com/graphql/graphql-spec/pull/525 has RFC1 and is merged; perhaps it was jumped up a couple RFC levels without the label being changed? Either way, I think this is ready for review.

[2020-12-04 12:13] benjie commented on #542
@magicmark Please could you comment on this issue [so that I can assign you](https://github.blog/2019-06-25-assign-issues-to-issue-commenters/)? A simple :+1:  will suffice :wink:

(It was noted in the WG yesterday that when a task is for everyone, it should be assigned to the person spearheading the effort to solicit feedback.)

[2020-12-04 17:26] magicmark commented on #542
@benjie sorry I totally missed this!

Yes chef!

[2020-12-05 13:36] benjie commented on #564
Implementation is now passing CI checks; assigned to @IvanGoncharov for further review:

https://github.com/graphql/graphql-js/pull/2861

(Note: this also fixes https://github.com/graphql/graphql-js/issues/2715 which seems to be a bug in the reference implementation's one-field subscription validation rule?)

[2020-12-05 22:58] tvvignesh commented on #540
Hi. Next blog in the series published here: https://medium.com/timecampus/graphql-the-stack-3-ce711b68ce37

Will have the next blog post ready by Dec 10th.

[2020-12-06 17:10] tvvignesh commented on #540
On a related note, just wanted to let you know that the next blog would be the last in the GraphQL series since I guess I have covered the most important parts of the ecosystem and will conclude the next blog taking up some advanced topics. Kindly let me know if there is any specific topic you would like me to cover as part of this series or something I have missed along the way and I will do the

[2020-12-11 03:29] tvvignesh commented on #540
Hi. The last part of the GraphQL series has been published here: https://medium.com/timecampus/graphql-the-workflow-36551a61fde3

I hope this series to GraphQL and its ecosystem to some level. While I will now be concentrating on the rest of the stack as mentioned above, I am thinking of what else I can do to help the GraphQL community when I have the time. Let me know if you guys have any thought

[2021-01-01 23:55] alexhancock commented on #261
Hello all, happy 2021.

I wanted to re-start this discussion. I am planning to read the spec soon, as GraphQL has become a major part of my work. I wondered how close the "Working Draft" is to an official version of the spec, and when a new official version may be cut?

[2021-01-02 00:02] leebyron commented on #261
Sorry for the lack of updates on this issue! The process to cut an official version is a legal issue, not a technical one.

For practical purposes, all reference implementations of GraphQL are encouraged to follow the working draft, and the vast majority do.

Official cut versions mark a legal sign off process milestone, and unfortunately for us we were not strict about this process in 2018 throug

[2021-01-02 00:04] leebyron commented on #261
The bar for accepting changes into the working draft is very high, and in practice only editorial refinements occur between those changes and official cuts. If you're looking for a version to read to be up to date with where the technical community is, I would highly suggest reading the working draft - regardless of the legal process around official cuts.

[2021-01-02 04:17] alexhancock commented on #261
@leebyron Thanks for the information and recommendation! I will read the working draft 👍

[2021-01-05 09:55] benjie commented on #565
Input Unions WG 7pm UTC (11am PST, 6am AEDT) on Thursday 21st Jan; [Details in Slack](https://graphql.slack.com/archives/CTECCMU57/p1608223711031900?thread_ts=1606562127.018400&cid=CTECCMU57); link: https://zoom.us/j/98330230839?pwd=OUw0Sms1R0RCVDJFeWR5N3ZIUUZTZz09 `graphqlwg`

[2021-01-07 17:13] #425 closed

[2021-01-07 17:14] #508 closed

[2021-01-07 17:16] #542 closed

[2021-01-07 17:17] #564 closed

[2021-01-07 17:18] #565 closed

[2021-01-07 17:20] #518 closed

[2021-01-08 02:17] magicmark opened #581 "[2021-01-07] Schema Coordinates: Add functions to graphql-js for schema coordinate parsing/printing"
Add functions to graphql-js for schema coordinate parsing/printing

- assignee(s): @magicmark
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#discuss-schema-coordinates-spec-10m-mark

---

[2021-01-15 18:22] tvvignesh commented on #540
Hi. I will be the guest speaker as part of the Dgraph community call for this month and will be speaking at GraphQL Berlin from Prisma next month both of which are on different topics around GraphQL. Both the sessions will be recorded. I will share them across here once they are done keeping this thread updated.

Currently spending some spare time I have working on a Kubernetes series here: https:

[2021-01-18 10:36] benjie opened #583 "[2021-01-07] Review "RFC: Assert subscription field is not introspection. #2861""
PR to review: https://github.com/graphql/graphql-js/pull/2861

- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#advancing-no-introspection-at-root-of-subscription-operation-10m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-01-18 10:38] benjie opened #584 "[2021-01-07] Editorial review of no root introspection of Subscription RFC"
Spec PR: https://github.com/graphql/graphql-spec/pull/776

Related: review of JS implementation: #583

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#advancing-no-introspection-at-root-of-subscription-operation-10m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-01-18 10:44] benjie opened #585 "[2021-01-07] Everyone: post examples where default values are used with arguments and input objects"
We're particularly interested in schemas that contain **any** of the following:

- field arguments with non-scalar defaults (i.e. input object)
- input objects with field defaults

Post links to examples into https://github.com/graphql/graphql-spec/pull/793

---

- assignee(s): everyone! (assigned to me as champion)
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#de

[2021-01-18 10:48] benjie opened #586 "[2021-01-07] Ping Apollo about Apollo's schema store"
Regarding #585 we're looking for a collection of schemas that use (any) field defaults on input objects and/or non-scalar default values in field arguments. Since Apollo have a tonne of schemas, we were wondering if any of these might be public and thus sharable for research purposes. We'd also be interested to know if Apollo could run some basic analysis on schemas and perhaps share anonymised sc

[2021-01-18 10:53] benjie commented on #585
@Alan-Cha has already started; thanks Alan! https://github.com/graphql/graphql-spec/pull/793#issuecomment-756322439

[2021-01-18 11:01] benjie opened #587 "[2021-01-07] Explain why initialCount behaves as it currently does"
Suggest you watch the YouTube video for full context on this; a brief summary is available in the notes (see the question from Ivan under "Item 1" in [the bulleted list](https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#deferstream-updates-10m-rob)) but I think it lacks some of the nuance.

In summary: Ivan asked whether `initialCount` was a minimum or a maximum (or a suggestio

[2021-01-18 11:03] benjie commented on #587
@Keweiqu Please could you comment on this issue [so that I may assign it to you](https://github.blog/changelog/2019-06-25-assign-issues-to-issue-commenters/)? A simple ":wave:" will do :+1:

[2021-01-18 11:06] benjie opened #588 "[2021-01-07] Make initialCount nullable (GraphQL.js and spec)"
`@defer`/`@stream` spec edits: https://github.com/graphql/graphql-spec/pull/742

- assignee(s): @robrichard
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#deferstream-updates-10m-rob

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-01-18 11:08] benjie commented on #588
@robrichard  Please could you comment on this issue (and ping me) [so that I may assign it to you](https://github.blog/changelog/2019-06-25-assign-issues-to-issue-commenters/)? A simple "@benjie :wave:" will do :+1:

[2021-01-18 11:10] benjie opened #589 "[2021-01-07] Everyone: review the @defer/@stream spec edits"
Spec edits for `@defer`/`@stream` Spec PR: https://github.com/graphql/graphql-spec/pull/742

- assignee(s): everyone (assigned to @robrichard to spearhead)
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#deferstream-updates-10m-rob

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-01-18 11:10] benjie commented on #589
@robrichard  Please could you comment on this issue (and ping me) [so that I may assign it to you](https://github.blog/changelog/2019-06-25-assign-issues-to-issue-commenters/)? A simple "@benjie :wave:" will do :+1:

[2021-01-18 11:14] benjie opened #590 "[2021-01-07] Discuss options for alternative meeting times"
It was discussed that the current meeting time is extremely inconvenient for people in various timezones including Australia, New Zealand and Asia. It was suggested that alternating times or finding a better pattern might make the Spec WG more accessible. It was noted that just changing the time would not be enough, since that would just make the time inconvenient for another set of people. @andim

[2021-01-18 11:15] benjie commented on #590
@andimarek feel free to use this issue for this discussion if you wish.

[2021-01-18 11:17] benjie opened #591 "[2021-01-07] Research data collection techniques for finding a good time/set of times for Spec WGs"
Regarding #590:

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#alternative-meeting-time-5m-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-01-18 11:22] benjie opened #592 "[2021-01-07] Open an issue to discuss expansions we might take atop Schema Coordinates"
The Schema Coordinates RFC has a very narrow goal, deliberately. This is great; but we can build upon this syntax to standardize a lot more of how we reference things in GraphQL which will enable even more powerful tooling. Benjie recently discussed this with @daniman from Apollo and shared this with the WG; it was suggested that having this discussion in a closed issue/merged PR could lose import

[2021-01-18 11:26] benjie opened #593 "[2021-01-07] Investigate explaining what a request error is the first time we mention it"
Relates to "query error -> request error" Spec PR: https://github.com/graphql/graphql-spec/pull/803

Lee thinks it would be wise to also include details of what a request error is in that PR (since neither it nor "query error" has been defined in the spec previously).

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/master/notes/2021-01-07.md#query-ambiguity-replacing-q

[2021-01-18 13:06] robrichard commented on #589
👍

[2021-01-18 13:06] robrichard commented on #588
👍

[2021-01-18 15:20] robrichard commented on #587
@benjie I went through my notes from past meetings and we landed on specifying that servers SHOULD (not must) honor the `initialCount` provided, same behavior as previously discussed about `@defer`. I believe that's where we ended in the WG meeting as well.

We actually had already outlined this in the RFC: https://github.com/graphql/graphql-spec/blob/master/rfcs/DeferStream.md#server-requirements

[2021-01-18 21:14] benjie commented on #587
I've marked it as ready for review as the linked document seems to explain things well enough. I like that you said "different" implying it's neither a maximum nor a minimum :+1:

[2021-01-22 21:07] robrichard commented on #588
@benjie I have updated the [Spec PR](https://github.com/graphql/graphql-spec/pull/742/commits/df363c7fa7513638b198070d366e4d2d05583fd1) and [GraphQL.js branch](https://github.com/graphql/graphql-js/pull/2839/files#diff-bb2ce423addd6bac025ea0843f740e6f9bf6a03075aa681a897b37a7fd015e93R214-R216) to reflect this change.

[2021-01-26 12:19] benjie commented on #586
@jbaxleyiii has moved on from Apollo, but has suggested I continue the conversation with @abernix.

[2021-02-02 11:07] benjie commented on #586
I've spoken with @abernix about this; this item is ready to review.

[2021-02-02 17:58] brianwarner opened #598 "Change primary branch from master to main"
Everyone, we're going through the process of migrating the primary branch from `master` to `main`. GitHub has tools to migrate, which will also migrate any open PRs (currently there aren't any).

However, if you've cloned this repo locally, you'll need to update your remotes. The easiest thing to do (assuming you aren't working locally) is just to delete your local files and re-clone this repo.

W

[2021-02-02 23:07] sungam3r commented on #598
Why is this necessary?

[2021-02-03 04:44] brianwarner commented on #598
A number of open source projects have made this (minor) change in an effort to phase out certain English terms. `main` has emerged as the de facto replacement for `master`, and is also now the default for new GitHub repos.

There was discussion about this during recent foundation and working group meetings, and it came up again in Slack a few days ago. I volunteered to help with the process, and f

[2021-02-04 17:25] andimarek commented on #590
I am located in Australia and the current time is 4 am which simply not great.

Moving it to 2h ahead it would set the meeting at 6am, which is still not great, but much better.

But as noted above: there is no perfect for everybody around the world. 6am in Australia would mean midnight in India for example.

I propose to rotate the time to make at least every 3rd or so meeting acceptable for ever

[2021-02-04 17:50] benjie commented on #507
@IvanGoncharov says he needs to check a small validation rule to make sure this is completely ready.

[2021-02-04 17:51] #507 closed

[2021-02-04 17:57] benjie commented on #550
@leebyron is going to clear up GraphQL organization access, @IvanGoncharov is going to clean up the graphql-js access.

[2021-02-04 18:00] #586 closed

[2021-02-04 18:04] #587 closed

[2021-02-04 18:05] #588 closed

[2021-02-04 18:12] #291 closed

[2021-02-04 18:13] leebyron commented on #261
Well 2020 was a year but we're wrapping up. Goal is to release in March 2021!

[2021-02-08 10:26] benjie commented on #590
@andimarek Would you like to propose a concrete schedule to make discussion easier?

[2021-02-08 10:27] benjie commented on #590
(Advise that you start the adjusted schedule in June/July to give a few months warning.)

[2021-02-17 15:33] benjie commented on #593
Done: https://github.com/graphql/graphql-spec/pull/803

[2021-02-17 16:51] benjie commented on #592
Have gathered together and written up various thoughts on this here: https://github.com/benjie/graphql-spec/blob/operation-expressions/rfcs/OperationExpressions.md - definitely encourage others to get involved.

[2021-02-17 17:13] benjie commented on #585
Please help promote this tweet: https://twitter.com/Benjie/status/1362087047813603328 (or send via other channels if appropriate)

[2021-02-19 17:54] benjie commented on #566
Spec text revised: https://github.com/graphql/graphql-spec/pull/793

(@leebyron if you have a chance to review this before the WG that'd be ace, but no worries if not.)

[2021-03-03 08:40] andimarek commented on #590
So here is my suggestion: I picked four different cities:  San Francisco, Berlin, New Delhi and Sydney.

| San Francisco | Berlin | New Delhi | Sydney| Comment |
----| --- | --- | ---|--- |
| 09:00am| 06:00pm | 10:30pm | 04:00am| Ok for SF and Berlin
| 02:00pm| 11:00pm | 03:30am | 09:00am| Ok for SF and Sydney
| 12:00am| 09:00am | 01:30pm | 07:00pm| Ok for Berlin and New Delhi

There is a lot we c

[2021-03-03 12:17] benjie commented on #590
Here's a timeanddate.com for San Fran, London, Berlin, New Delhi, Sydney and New York for the April WG: https://www.timeanddate.com/worldclock/meetingtime.html?iso=20210401&p1=224&p2=136&p3=37&p4=176&p5=240&p6=179

[2021-03-03 18:45] leebyron commented on #591
I'm making a change for the April session based on the conversation that led to this action item, but for a sense of why this is a hard problem:

https://www.timeanddate.com/worldclock/meetingtime.html?month=4&day=1&year=2021&p1=224&p2=179&p3=136&p4=268&p5=367&p6=438&p7=240&iv=0

[2021-03-04 16:19] michaelstaib commented on #590
@andimarek the second would also still be manageable for us in CET. I would be OK with all of them if it helps you to attend.

[2021-03-04 17:30] #598 closed

[2021-03-04 17:30] #593 closed

[2021-03-04 17:31] #592 closed

[2021-03-04 17:31] #591 closed

[2021-03-04 17:31] #585 closed

[2021-03-04 17:32] #566 closed

[2021-03-04 17:33] #550 closed

[2021-03-07 12:51] benjie opened #634 "[2021-02-04] Update Foundation spec membership agreement"
- assignee(s): @brianwarner
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#tsc-meeting-15m-brian-lee-tsc-members
---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 12:52] benjie commented on #634
I believe @brianwarner addressed this the very next day.

[2021-03-07 12:54] benjie opened #635 "[2021-02-04] Update WG README to link to new membership agreement folder"
I believe this was actually completed during the WG session itself, so can probably be insta-closed.

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#tsc-meeting-15m-brian-lee-tsc-members

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 12:56] benjie opened #636 "[2021-02-04] Everyone: think of GSoC project ideas"
- assignee(s): EVERYONE! (@leebyron as champion)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#google-summer-of-code-this-year-5m-brian

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 12:58] benjie opened #637 "[2021-02-04] Everyone: share links to your stories (blogs, etc) relevant to GraphQL spec release"
- assignee(s): EVERYONE! (@leebyron  as champion)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#promoting-and-documenting-spec-release-5m-brian

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:00] benjie opened #638 "[2021-02-04] Write a list of topics to cover in GraphQL spec release marketing"
See also #637

- assignee(s): @leebyron  and @brianwarner
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#promoting-and-documenting-spec-release-5m-brian

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:02] benjie opened #639 "[2021-02-04] Ensure @deprecated directive on Input Fields RFC can advance"
- assignee(s): @IvanGoncharov and @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:03] benjie opened #640 "[2021-02-04] Ensure all the CLAs and copyright notices in GraphQL repos are up to date"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-02-04.md#review-previous-meetings-action-items-5m-le

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:05] benjie opened #641 "[2021-03-04] Check that the LF calendar has correct time"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#new-meeting-time-2m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:05] benjie commented on #641
Sidenote: why is the calendar not linked on https://graphql.org/community/upcoming-events/ ?

[2021-03-07 13:06] benjie commented on #641
Marking this as ready for review because it appears to be 2 hours later to me.

[2021-03-07 13:08] benjie opened #642 "[2021-03-04] Review and merge 'Replace query error with request error'"
[https://github.com/graphql/graphql-spec/pull/803](https://github.com/graphql/graphql-spec/pull/803)

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#advancing-replace-query-error-with-request-error-5m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:10] benjie opened #643 "[2021-03-04] Add a non-normative note that GraphQL request != HTTP request"
- assignee(s): @leebyron @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#advancing-replace-query-error-with-request-error-5m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:11] benjie opened #644 "[2021-03-04] Advance 'Default value coercion rules' from 'proposal' to 'draft'"
[RFC PR](https://github.com/graphql/graphql-spec/pull/793)

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#rfc-default-value-coercion-rules-15m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:12] benjie commented on #644
It's marked as stage 2 so marking as ready for review.

[2021-03-07 13:22] benjie opened #645 "[2021-03-04] Implementors: make sure change to Default Value Coercion Rules is compatible"
[RFC](https://github.com/graphql/graphql-spec/pull/793) was moved from proposal to Draft

- assignee(s): Implementors (champion @benjie)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#rfc-default-value-coercion-rules-15m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:29] benjie opened #646 "[2021-03-04] Add prose to explain why scalar fields must have the same type when composing fragments"
[https://github.com/graphql/graphql-spec/issues/820](https://github.com/graphql/graphql-spec/issues/820)

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#allow-fields-to-diverge-more-15m-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:31] benjie opened #647 "[2021-03-04] Everyone: review and give feedback on Oneof Input Objects/Oneof Fields RFC"
[RFC PR](https://github.com/graphql/graphql-spec/pull/825)

- assignee(s): EVERYONE! (Champion: @benjie)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#rfc-oneof-input-objects-and-oneof-fields-30m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 13:32] benjie opened #648 "[2021-03-04] Implement Oneof Input Objects in GraphQL.js"
[RFC PR](https://github.com/graphql/graphql-spec/pull/825)

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-03-04.md#rfc-oneof-input-objects-and-oneof-fields-30m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-03-07 17:56] brianwarner commented on #634
That's right! And today is the last day of the waiting period for the docs to go fully active.

[2021-03-07 17:56] #634 closed

[2021-03-07 17:57] brianwarner commented on #635
This one is done as well. Instead of linking directly to the agreement without explanation, we now have a `membership` directory that contains step-by-step instructions for how to sign the docs as a company or as an individual. I'd say we can close this.

[2021-03-07 17:57] #635 closed

[2021-03-07 17:59] brianwarner commented on #636
The application for GSoC has closed and we applied for a few projects... but... Google Season of Docs is open! This is how Carolyn got involved! I'll create a file to collect applications again.

[2021-03-07 18:01] brianwarner commented on #640
I believe we're partially done here. I went through all of the repos and opened up PRs to add consistent instructions on how to sign the CLA, and then enabled the tooling.

I haven't checked the copyright notices for all repos, but we could cover this in the next working group meeting? It's super straightforward, but sometimes it helps to talk it through if there are questions.

[2021-03-07 18:03] brianwarner commented on #641
I think we should be in good shape, I set the calendar entry to the new time and pegged it to UTC (so the upcoming DST changes probably(?) won't change the time except for timezones that still do this ridiculous nonsense).

Good point about graphql.org, though - we should add a link to [calendar.graphql.org](https://calendar.graphql.org).

[2021-03-07 22:02] andimarek commented on #646
See this issue https://github.com/graphql/graphql-spec/issues/820 which contains more details.

Fundamentally we should talk about two constrains:
- The engine is able to execute the requests which means overlapping fields can't be ambiguous. This means especially it must be clear to which Object the field belongs (at execution time everything is a object).
- The response alone should be parseable

[2021-03-11 14:37] brianwarner commented on #641
@eapache It's definitely possible, there was an old calendar and a new calendar. The old one was (I think?) attached to Lee's personal gmail account. We moved it over to a Foundation calendar instead. The new one has "linuxfoudnation.org" in the url, and it's what you see if you go to [calendar.graphql.org](https://calendar.graphql.org).

I can add you to the new invite, along with anybody else wh

[2021-03-11 14:39] brianwarner commented on #641
Also @benjie, I spent some time this week porting the Foundation site over to graphql.org. I'll add this to the events section while I'm at it.

[2021-03-11 15:03] eapache commented on #641
👍 I do have the new calendar too, and that one looks fine. If there's a way to delete the old calendar (which I linked in my previous comment) that would probably help in reducing confusion.

[2021-04-01 18:15] #636 closed

[2021-04-01 18:18] #640 closed

[2021-04-01 18:19] #522 closed

[2021-04-01 18:20] #641 closed

[2021-04-01 18:20] #644 closed

[2021-04-02 07:44] benjie opened #661 "[2021-04-01] Why were we declined for GSoC? Should we apply for GSoD?"
Ivan noted that GraphQL as an organization (not any specific project) was declined from GSoC this year. Since applications take time, Ivan wanted to know what the reason for this was (if we can find out) so we can determine if it's worth investing time in applying for GSoD or not.

- assignee(s): @brianwarner
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-04-01.md#review-prev

[2021-04-02 07:45] benjie opened #662 "[2021-04-01] Scan GraphQL org for outdated (Facebook) copyright notices"
- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-04-01.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-04-02 07:46] benjie opened #663 "[2021-04-01] Delete Lee's old calendar to avoid calendar confusion"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-04-01.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-04-02 15:45] benjie commented on #641
Ref #663

[2021-04-08 10:56] benjie commented on #547
Work on this has been started via https://github.com/graphql/graphql-spec/pull/846

[2021-04-08 12:03] benjie commented on #645
@leebyron It would be really helpful to have an `@graphql/implementors` or similar group that we can ping the relevant people behind the various GraphQL implementations (after they opt-in, of course).

[2021-04-08 12:56] benjie commented on #583
Ivan has approved this PR (but not yet merged it, pending potential refactoring).

[2021-04-08 12:58] benjie commented on #505
@IvanGoncharov does this need a GraphQL Spec edit? If so it seems wise to slip this in before the spec cut.

[2021-04-08 12:59] benjie commented on #505
Adding Ready for review for us to discuss at the next WG; this might not be ready to actually close.

[2021-04-08 13:04] benjie commented on #488
@brianwarner Perhaps you can help with this one; the scalars subproject needs the relevant LICENSE/etc files - OWFa perhaps? https://github.com/graphql/graphql-scalars

[2021-04-08 13:13] eapache commented on #645
cc @rmosolgo

[2021-05-13 18:12] #663 closed

[2021-05-13 18:13] #647 closed

[2021-05-13 18:13] #642 closed

[2021-05-13 18:14] #639 closed

[2021-05-13 18:14] #583 closed

[2021-05-13 18:14] #547 closed

[2021-05-13 18:15] #546 closed

[2021-05-13 18:17] benjie commented on #505
We're okay doing the spec changes for this (if any) after the spec cut if need be.

[2021-05-14 09:18] benjie commented on #509
This was not only read over but also merged :+1:

[2021-05-14 09:19] benjie commented on #584
This was merged, so editorial was complete.

[2021-05-14 09:48] benjie commented on #638
Related: [Write Changelog for next spec release](https://github.com/graphql/graphql-spec/issues/855).

[2021-06-01 09:39] benjie commented on #638
Ready for review due to https://github.com/graphql/graphql-spec/pull/871

[2021-06-01 16:37] benjie opened #693 "[2021-05-13] Announce feature freeze on GraphQL.js repo and pin it"
Probably already complete.

- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-05-13.md#graphql-js-status-update-on-the-typescript-migration-and-temporary-feature-freeze-on-unrelated-changes-5m-ivan-uri

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-06-01 16:39] benjie opened #694 "[2021-05-13] Query Level Nullability - open PR"
- assignee(s): @twof
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-05-13.md#query-level-nullability-rfc-15m-alex-reilly-stephen-spalding
---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-06-01 16:39] benjie commented on #694
@twof is this complete? I recall seeing some issues created.

[2021-06-01 16:41] benjie opened #695 "[2021-05-13] Raise a GraphQL.js PR for preventing @skip/@include on subscriptions"
- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-05-13.md#advancing-__typename-not-valid-at-subscription-root-rfc-15m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-06-01 17:41] twof commented on #694
@benjie hey thanks for checking in! We've been working on the implementation first, and then we'll be turning it into a fully fledged RFC. People can track progress on the implementation in [this GraphQL.js fork](https://github.com/aprilrd/graphql-js/pull/5) And comment on [the strawman issue](https://github.com/graphql/graphql-spec/issues/867)  for now until we have something comprehensive up.

[2021-06-02 19:36] leebyron commented on #581
Added in https://github.com/graphql/graphql-js/pull/3044

[2021-06-02 20:55] leebyron commented on #645
Created https://github.com/orgs/graphql/teams/implementers/

[2021-06-03 18:08] #581 closed

[2021-06-03 18:09] #693 closed

[2021-06-03 18:12] benjie commented on #505
@IvanGoncharov to create the PR, hopefully by the next GraphQL Spec Working Group. Otherwise ask someone else to champion it.

[2021-06-03 18:12] #584 closed

[2021-06-03 18:13] #509 closed

[2021-07-01 17:11] IvanGoncharov commented on #505
Created both PRs:
- Spec: https://github.com/graphql/graphql-spec/pull/877
- graphql-js: https://github.com/graphql/graphql-js/pull/3208

[2021-07-01 17:13] IvanGoncharov commented on #505
Sadly can't traveling today.
So can't represent it on WG.
@benjie Can you add it to the agenda, since it looks like it's totally non-controvelsial.

[2021-07-01 18:11] #505 closed

[2021-07-01 18:13] leebyron commented on #645
@graphql/implementers - I'd love your feedback on this

See related change here: https://github.com/graphql/graphql-js/pull/3049

[2021-07-01 18:15] #589 closed

[2021-07-02 17:51] leebyron commented on #519
Closing this issue since these are all on the youtube page now

[2021-07-02 17:51] #519 closed

[2021-07-05 07:51] spawnia commented on #645
I hit this issue in graphql-php and am happy to see it moving forward. The proposed solution makes sense to me.

[2021-09-02 17:53] #638 closed

[2021-09-02 18:46] leebyron commented on #489
Notes on how to resolve this from 9/2021 meeting:

Intent was to allow more people access to the RFC files while keeping maintenance tight on the spec itself.

TODO:
* [ ] Move rfc directory into this working group repository
* [ ] Add a high level markdown file (README?) which explains PR merging policy

[2021-09-02 18:49] leebyron commented on #543
* [ ] Add a column for this

[2021-09-02 18:58] #488 closed

[2021-09-02 19:01] #477 closed

[2021-09-02 19:04] leebyron commented on #590
Closing this issue since we did push the call time by 2 hours. We can always bring this back up in the future

[2021-09-02 19:04] #590 closed

[2021-09-02 19:06] #637 closed

[2021-09-02 19:12] #645 closed

[2021-09-02 19:14] #661 closed

[2021-09-02 19:14] leebyron commented on #661
Follow up here is we're going to plan for GSoC/GSoD with more advance timing

[2021-09-02 19:16] leebyron commented on #662
Remaining:

* [ ] Swapi
* [ ] GraphQL.org

Need to do final scan

[2021-09-02 21:07] #543 closed

[2021-09-02 22:42] brianwarner commented on #662
I did a spot check and the copyright lines look alright to me. We generally don't require those to be changed and in fact, nobody else can/should change Facebook's copyright line other than an authorized person from the company. We generally recommend projects follow [Steve Winslow's writeup on the topic](https://www.linuxfoundation.org/blog/copyright-notices-in-open-source-software-projects/). Th

[2021-09-03 19:41] leebyron commented on #489
Just added @graphql/wg-core to expand maintenance

[2021-09-03 19:41] #489 closed

[2021-09-03 22:53] leebyron commented on #662
Thanks for that link, fascinating read!

I scanned through our repos looking specifically at the LICENSE files and found some variation which I cleaned up to all use the same MIT copy and evergreen copyright notice.

I left individual files alone, as suggested

[2021-09-03 22:53] #662 closed

[2021-10-18 22:00] twof commented on #694
Spec changes will be happening in this branch: https://github.com/graphql/graphql-spec/pull/895

The PR is not yet ready for review, but I'll update here when it is.

[2021-10-19 07:32] twof commented on #694
The [spec PR](https://github.com/graphql/graphql-spec/pull/895) is ready for review!

[2021-10-28 21:43] leebyron opened #765 "Technical Steering Committee 2022 Elections"
The GraphQL technical project is governed by our [technical steering committee (TSC)](https://github.com/graphql/graphql-wg/blob/main/GraphQL-TSC.md).

The TSC was initially seeded in Nov 2020 with ten individuals plus the exec director (myself) with terms randomly assigned to be 1 or 2 years. Starting this year and going forward, we will hold elections for five seats per year with each elected me

[2021-11-01 13:45] IvanGoncharov commented on #765
@leebyron Thanks, Lee 👍
Small clarification, I now work in Apollo (since Aug 2021) and I'm also sent PR to update the current TSC document: #767

[2021-11-04 07:33] twof commented on #694
[Human readable RFC is up for review](https://github.com/graphql/graphql-wg/pull/772)

[2021-11-04 18:05] benjie opened #778 "[2021-06-03] Ensure clarity in the unicode support spec changes"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-06-03.md#full-unicode-support-5m-lee-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-04 18:12] #694 closed

[2021-11-28 09:55] benjie opened #788 "[2021-06-03] Everyone: review the schema coordinates PR and implementation"
- assignee(s): Everyone (champion: @magicmark)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-06-03.md#schema-coordinates-update-5m-lee-mark

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 09:57] benjie opened #789 "[2021-06-03] Fix visibility of new implementers team"
During the meeting some people could not see the new @graphql/implementers team.

I have a vague feeling you already fixed this @leebyron but the notes don't seem to confirm this.

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-06-03.md#full-unicode-support-5m-lee-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetin

[2021-11-28 09:59] benjie opened #790 "[2021-06-03] Create a document in this repo so interested people can add themselves to @implementors"
Context: the @graphql/implementers team

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-06-03.md#full-unicode-support-5m-lee-andi

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:01] benjie commented on #788
@magicmark Please reply to this thread so I can assign you. Just a :wave: will do :+1:

[2021-11-28 10:05] benjie opened #791 "[2021-06-03] Work on validation/execution of Fragment Arguments RFC"
Strictly this was a "next steps" rather than an explicit "action".

- assignee(s): @mjmahone
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-06-03.md#fragment-arguments-rfc-10m-matt

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:08] benjie opened #792 "[2021-07-01] Slack -> Discord: assign relevant permissions"
**This was done and can be closed.**

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-07-01.md#proposal-move-the-official-graphql-chat-from-slack-to-discord-10m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:11] benjie opened #793 "[2021-07-01] Slack -> Discord: apply for vanity URL"
An application was opened:

https://github.com/discord/discord-open-source/pull/398

There has been no movement. It's kind of irrelevant though, since we have https://discord.graphql.org thanks to (I think?) @brianwarner; so **this can be closed** :+1:

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-07-01.md#proposal-move-the-official-graphql-chat-from-

[2021-11-28 10:15] benjie opened #794 "[2021-07-01] Everyone: review spec text changes for argument uniqueness RFC"
- assignee(s): everyone (champion: @IvanGoncharov)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-07-01.md#argument-uniqueness-rfc-benjie-5m

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:15] benjie commented on #794
@IvanGoncharov Do you want to add "ready for review" label to this?

[2021-11-28 10:20] benjie opened #795 "[2021-09-02] Move RFCs to WG repo and update all the relevant READMEs"
Context: #477 - GitHub infra for managing WGs:

- #477

- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-09-02.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:22] benjie commented on #795
I know the RFCs moved but I'm not certain if the other changes (e.g. READMEs) were done - tagging as ready for review anyway.

[2021-11-28 10:25] benjie commented on #695
From https://github.com/graphql/graphql-wg/blob/main/notes/2021-09-02.md#review-previous-meetings-action-items-5m-lee

@IvanGoncharov PING! :grin:

[2021-11-28 10:28] benjie opened #796 "[2021-09-02] Raise GraphQL.js PR relating to relaxing field selection merging rules and speak to client developers"
Context: relax rule on Field Selection Merging to allow merging covariant fields Spec PR (15m, Ivan)

- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-09-02.md#relax-rule-on-field-selection-merging-to-allow-merging-covariant-fields-spec-pr-15m-ivan

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:31] benjie opened #797 "[2021-10-07] Build GraphQL.js implementation of "description on executable definitions""
- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-10-07.md#allowing-description-on-executable-definitions-10m-ivan

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:33] benjie opened #798 "[2021-11-04] Client Controlled Nullability - add to list of unanswered questions - null vs error boundary?"
- assignee(s): @twof
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2021-11-04.md#progress-update-on-client-controlled-nullability-10m-alex-reilly

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2021-11-28 10:34] benjie commented on #798
@twof Please reply to this so I can assign you. A :wave:  will do :+1:

[2021-11-28 10:36] benjie commented on #765
Since nominations close tomorrow I've marked this ready for review. I've also filed it under Nov's WG for consistency with other action items.

[2021-11-28 12:24] twof commented on #798
👋

[2021-11-29 03:24] magicmark commented on #788
👋

[2021-11-29 09:40] spawnia commented on #789
I am in it and got the notification 👋

[2021-12-02 17:54] #261 closed

[2021-12-02 19:15] #792 closed

[2021-12-02 19:16] #793 closed

[2021-12-02 19:18] #795 closed

[2021-12-03 08:52] benjie commented on #261
https://spec.graphql.org/October2021/

[2021-12-17 17:31] benjie opened #825 "[TSC] RFC: Define a process for reporting and dealing with security vulnerabilities"
We don't seem to have an official way of dealing with security vulnerability reports currently, nor, as far as I can tell, an official way of reporting them. I believe it should be the TSC's responsibility to deal with security vulnerabilities and alert the relevant people, but as far as I know we don't really have an internal process for this currently. I'd like to propose to the TSC that we addr

[2021-12-17 18:02] acao commented on #825
Thanks for doing this! Let me know how I can help! From this we can create a security policy document add to each of the repos.

[2021-12-17 18:02] saihaj commented on #825
related https://github.com/graphql/graphql-js-wg/issues/42

[2022-01-01 21:33] twof commented on #798
This has been completed: https://docs.google.com/document/d/10MmZbzfPtk8GoAeSVm_m9ng8Aj10LBXVIQwkpjti6CQ/edit#heading=h.g7wzponnqnef

[2022-01-04 17:50] erikkessler1 commented on #648
Hey @benjie, I've been following your Oneof RFC and some of the discussions around it in the GraphQL Working Group. I'm excited about the proposal and want to help move the RFC forward. I have experience with GraphQL and TypeScript, so I'd be interested in helping write an implementation for GraphQL.js. Did you already have an implementation in progress or should I just start from scratch? Also, f

[2022-01-04 18:42] benjie commented on #648
Hey @erikkessler1; that's great! There's a few open questions:

1. Which things will we support: input object types, object types, field arguments?
2. What's the syntax?

I think it's fine to drop field arguments ("Oneof Fields" in the spec edit) and go with just object types and input object types. I think it's also wise to simply use the directive syntax for now - at least then we can play with

[2022-01-04 21:05] erikkessler1 commented on #648
Starting with input object types and object types using the directive syntax makes sense to me. I'll see what I can do working off of those assumptions!

[2022-01-06 13:00] benjie commented on #695
@IvanGoncharov Did you get a chance to look at this?

[2022-01-06 19:42] leebyron commented on #765
**Here are the results of the TSC election. The five winners (in alphabetical order) are:**

- Benjie Gillam
- Ivan Goncharov
- Marc-Andre Giroux
- Matt Mahoney
- Michael Staib

[2022-01-06 20:06] leebyron commented on #765
A great thanks to past and present TSC members, and for everyone who self-nominated. We got quite a lot more nominations than I expected, which is *fantastic*.

I'd like to remind everyone who nominated that the TSC is a vote-holding position and carries accountability, but not the only set who take action and contribute to the core of the GraphQL project. I'm grateful for the energy you all provi

[2022-01-06 21:24] leebyron commented on #789
The visibility is "visible" but GitHub seems to have inherent limitations around teams:

https://docs.github.com/en/organizations/organizing-members-into-teams/about-teams#:~:text=Visible%20teams%20can%20be%20viewed%20and%20%40mentioned%20by%20every%20organization%20member.

If you're a member of the GraphQL GitHub org then you can see these teams, but of course many community contributors are not

[2022-01-06 21:27] #789 closed

[2022-01-08 04:50] rivantsov opened #858 "@DeferStream RFC - typo"
Not sure where to put this, but in DeferStream.md, looks like a typo in an example here:
https://github.com/graphql/graphql-wg/blob/main/rfcs/DeferStream.md#example-query-with-defer-and-stream

the response payload 1 is listed as:
[code]

shouldn't it be:

[code]

[2022-01-10 18:47] leebyron commented on #765
- [x] Updated TSC charter
- [x] Updated Github `@graphql/tsc` team

[2022-01-10 18:47] #765 closed

[2022-01-13 15:47] brianwarner opened #861 "2022 Google Summer of Code"
We received an email a few days ago that the GSoC application period for open source projects will be **Feb 7 - Feb 21**.

If this is something we want to participate in as the GraphQL Foundation, we'll need to assemble the following:

* A [list of ideas](https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list)
* [Mentors](https://google.github.io/gsocguides/mentor/mind-the-gap) m

[2022-01-17 17:16] benjie commented on #858
@rivantsov You can send a PR to that file direct.

@robrichard I think @rivantsov is right, this seems to be a typo. Also typographical quotes have somehow crept into the code examples.

[2022-01-17 17:36] robrichard commented on #858
@benjie I opened a PR to replace this example entirely with something I think is a bit clearer: https://github.com/graphql/graphql-wg/pull/863/files

[2022-01-17 18:38] #858 closed

[2022-01-21 18:45] erikkessler1 commented on #648
Hey @benjie, I've got some initial progress to share that I'd love to get your early feedback on. For consumability, I've broken my implementation into a few PRs on my fork of `graphql-js`:

* Type Additions: https://github.com/erikkessler1/graphql-js/pull/1
* Validation: https://github.com/erikkessler1/graphql-js/pull/2
* Execution: https://github.com/erikkessler1/graphql-js/pull/3

(The combined

[2022-01-28 09:27] benjie commented on #648
Excellent work; I didn't see anything in the changes that didn't align with my intent. I've not had time to fully review (I need to get back to doing the spec edits at some point!) but it's looking good to me :+1:

[2022-01-28 17:45] erikkessler1 commented on #648
Great, thank you for taking a look! Are there any other immediate action items you can think of for me?

[2022-01-28 22:57] benjie commented on #648
Nope; just try it out in a real schema and see how you get on! 🙌

[2022-02-03 13:23] benjie opened #879 "[2022-01-06] Review Default Value Coercion spec text to ensure alignment with reference implementation"
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-01-06.md#advancing-default-value-validationcoercion-10m-benjie

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-02-03 13:40] benjie opened #880 "[2022-01-06] Everyone: look at non-nullable fields discussion for defer/stream"
Please look at https://github.com/robrichard/defer-stream-wg/discussions/23

- assignee(s): everyone (champion @robrichard)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-01-06.md#update-on-defer--stream-20m-10m-rob-richard

Link to the timestamp in YouTube: https://youtu.be/q3maVKYQAlA?list=PLP1igyLx8foH30_sDnEZnxV_8pYW3SDtb&t=6897

---

_Note: Action Item issues are re

[2022-02-03 19:08] #798 closed

[2022-02-03 19:10] #880 closed

[2022-03-07 22:02] brianwarner commented on #861
The application and decision period has passed for this year, so I'll close this issue for now. Thanks!

[2022-03-07 22:02] #861 closed

[2022-03-08 22:44] nazreen commented on #648
any updates on this? :) we have a use case that could benefit from this solution

[2022-03-22 16:52] benjie commented on #648
The RFC has been updated to drop Oneof Fields, I still need to find some time to test @erikkessler1's work above though. Have you tried it @nazreen?

[2022-03-25 09:48] benjie commented on #648
“Oneof fields” are fields that accept one argument. The general feeling is that the goal is easy to achieve by using a oneof input object as the type of the only argument, and that not doing this limits schema evolution options. I’ve thus removed them.

The main reason to consider them is syntax; where does the directive/keyword/etc go?

[2022-04-04 13:33] saerdnaer opened #916 "HTTP status code for partial responses"
Any thoughts on defining a dedicated HTTP Status code like 206 or 207 for partial successful responses, instead of only returning status 200 with an error array?

- assignee(s):
- source:

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-04-05 21:53] n1ru4l commented on #916
I think this might be better of over on https://github.com/graphql/graphql-over-http

[2022-04-18 12:47] saerdnaer commented on #916
Moved to https://github.com/graphql/graphql-over-http/issues/172

[2022-04-18 12:47] #916 closed

[2022-05-05 11:25] benjie opened #953 "[2022-04-07] Unions implementing interfaces - exploration"
- assignee(s): @yaacovCR
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-04-07.md#discuss-proposal-to-allow-unions-to-declare-implementation-of-interfaces-15m-yaacov

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-05 11:46] yaacovCR commented on #953
-- No direct impact on execution, all execution changes are subsumed within schema.isSubType.

-- optional whether you could select interface fields directly on the Union

-- constraint can be alternatively be defined as an intersection on the Union, variation raised as separate PR... or just use a different keyword... or just use implements, my preference if we don't use intersection or other sep

[2022-05-05 18:11] #953 closed

[2022-05-05 18:11] #648 closed

[2022-05-05 18:13] #825 closed

[2022-05-06 08:17] benjie commented on #648
Thanks to your work @erikkessler1, we've moved `@oneOf` to RFC2! :raised_hands:

[2022-05-23 11:33] benjie opened #970 "[2022-05-05] Add security document to .github repo"
Follow up to #825.

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 11:36] benjie opened #971 "[2022-05-05] Final editorial review of "deprecation of input values""
- assignee(s): @leebyron
- source: https://github.com/graphql/graphql-spec/pull/805#issuecomment-1029319320 (raised here: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#review-previous-meetings-action-items-5m-lee)

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 11:41] benjie opened #972 "[2022-05-05] Intersection type proposal: refine the tests"
:new: Specific timestamp in the meeting recording: https://youtu.be/Dlr65pNpJig?list=PLP1igyLx8foH30_sDnEZnxV_8pYW3SDtb&t=5568

- assignee(s): @yaacovCR
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#review-previous-meetings-action-items-5m-lee

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 11:45] benjie opened #973 "[2022-05-05] CCN - alpha release feedback thread"
:new: Timestamped video link: https://youtu.be/Dlr65pNpJig?list=PLP1igyLx8foH30_sDnEZnxV_8pYW3SDtb&t=6143

- assignee(s): @twof
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#ccn-status-update-and-rollout-plans-10m-alex-reilly

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 11:46] benjie commented on #973
@twof Please reply to this comment so I can assign you (a :raised_hand_with_fingers_splayed: ) is sufficient) - thanks! :raised_hands:

[2022-05-23 11:51] benjie opened #974 "[2022-05-05] CCN - discussion thread on naming"
:new: Timestamped video link: https://www.youtube.com/watch?v=Dlr65pNpJig&list=PLP1igyLx8foH30_sDnEZnxV_8pYW3SDtb&t=5568s

- assignee(s): @twof
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#ccn-status-update-and-rollout-plans-10m-alex-reilly

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 11:52] benjie commented on #974
Thread was opened here: https://github.com/graphql/graphql-wg/discussions/965

(@twof Please reply so I can assign you, even though this is complete.)

[2022-05-23 11:54] benjie opened #975 "[2022-05-05] CCN - AST node names"
Related to #974, but I think it's separate?

:new: Timestamped video link: https://youtu.be/Dlr65pNpJig?list=PLP1igyLx8foH30_sDnEZnxV_8pYW3SDtb&t=6415

- assignee(s): @twof
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#ccn-status-update-and-rollout-plans-10m-alex-reilly

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 11:58] benjie opened #976 "[2022-05-05] Stream/defer - ensure spec wording is accurate relating to index format"
:new: Timestamped video link: https://youtu.be/Dlr65pNpJig?list=PLP1igyLx8foH30_sDnEZnxV_8pYW3SDtb&t=8921

- assignee(s): @robrichard
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-05-05.md#deferstream-stream-payload-index-format-10m-rob

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-05-23 16:41] twof commented on #974
👋

[2022-05-23 16:41] twof commented on #975
👋

[2022-05-24 04:23] twof commented on #975
@benjie I also just want to say how much I appreciate that you pulled the entire exchange into text. I know how time consuming this sort of thing is, so seriously, thank you.

[2022-05-24 14:25] benjie commented on #970
Done: https://github.com/graphql/.github/pull/2

Can be seen, e.g.: https://github.com/graphql/graphql-js-wg/security/policy

[2022-05-24 15:19] benjie commented on #643
https://github.com/graphql/graphql-spec/pull/949

[2022-05-30 10:35] benjie opened #988 "Is 2 hours once a month long enough?"
In the March WG last year, whilst trying to make the meetings easier to attend, we reduced their duration from 3 hours to 2 hours:

https://github.com/graphql/graphql-wg/blob/389d6c4eef16a949fae6daa4f88973a85f36e20f/notes/2021-03-04.md#alternate-wg-meeting-times-15m-andi

It feels like we've been pushing up against time for a few meetings now and have had to cut a few topics/discussions short. Thu

[2022-05-31 15:32] rivantsov commented on #988
I would vote for an extra meeting in between, contingent on agenda. It can be canceled if number of topics is low enough (<=3) to be pushed to the next 'regular' meeting

[2022-05-31 15:48] rivantsov commented on #988
another suggestion - to establish a regular 'overflow' meeting, 1 week from regular meeting, contingent - might be canceled, to take on items that were beyond 2 hour time; it can use the same agenda, we just continue the meeting, where we stopped
Another suggestion - do 5 minutes coffee/bathroom breaks after every hour, these might not be in agenda, just as soon as we reach 1 hr

[2022-06-02 18:11] twof commented on #975
Discussion thread: https://github.com/graphql/graphql-wg/discussions/994

[2022-06-02 18:11] twof commented on #974
https://github.com/graphql/graphql-wg/discussions/965

[2022-06-02 18:12] #970 closed

[2022-06-02 18:12] #974 closed

[2022-06-02 18:13] #975 closed

[2022-06-02 18:14] #972 closed

[2022-06-03 05:49] leebyron commented on #971
Applied editorial changed and merged

[2022-07-07 18:12] #971 closed

[2022-07-07 18:14] leebyron commented on #976
Spec PR is behind, open questions - but on the docket for July

[2022-07-07 18:14] #976 closed

[2022-07-08 08:10] benjie opened #1052 "[2022-06-02] Set up Composite Schemas WG"
[Retroactive - this task is already complete]

The GraphQL Composite Schemas WG was approved, so https://github.com/graphql/composite-schemas-wg has been created and the first meeting has been scheduled for 14th July.

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-06-02.md#proposal-composite-schemas-working-group-10m-benjie

---

_Note: Action Ite

[2022-07-08 08:10] #1052 closed

[2022-07-08 08:14] benjie opened #1053 "[2022-06-02] File a PR or discussion for each of the editorial changes Roman proposed"
[Retroactive - this task has been completed]

Following dicussion https://github.com/graphql/graphql-wg/discussions/969 Roman raised https://github.com/graphql/graphql-spec/pull/957. That has received a lot of attention and has been split out into a large number of separate PRs each addressing a singular topic. Though it's not yet merged the action was to raise the PRs and that is now done :+1:

-

[2022-07-08 08:57] benjie opened #1055 "[2022-07-07] Open a discussion thread about meta-fields proposal"
Presentation: https://docs.google.com/presentation/d/1qGc2rZKeim699tT-2G1xDESZP3Kd6tvj9V27tQfyJhg/edit#slide=id.ge9d8d484d6_0_5

Video link to beginning of Ivan's topic: https://youtu.be/gVCszBu_aJI?t=2714

And to where the action items are discussed: https://youtu.be/gVCszBu_aJI?t=4850

- assignee(s): @IvanGoncharov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-07-07.m

[2022-07-08 09:00] benjie opened #1056 "[2022-07-07] EVERYONE: take a look at the GraphQL-over-HTTP spec"
We recently re-worked the spec with a focus on backwards compatibility and the introduction of a "watershed" for the `application/graphql+json` media type - after 1st Jan 2025 all GraphQL servers MUST support this media encoding to enable clients to determine whether or not responses using 4xx and 5xx status codes are from a GraphQL service.

We're working on final edits with a hope of getting thi

[2022-07-08 09:04] benjie opened #1057 "[2022-07-07] EVERYONE - stream/defer payload "data" field discussion"
Video discussion of stream/defer starts here: https://youtu.be/gVCszBu_aJI?t=6512

Action discussion here: https://youtu.be/gVCszBu_aJI?t=8008

- assignee(s): Everyone (champion: @robrichard)
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-07-07.md#deferstream-20m-rob-richard

---

_Note: Action Item issues are reviewed and closed during Working Group
meetings._

[2022-07-08 09:07] benjie opened #1058 "[2022-07-07] Open a discussion thread for struct"
Unfortunately we did not have enough time to discuss the struct RFC #1035; so we should open a discussion thread for it.

Action assigned here: https://youtu.be/gVCszBu_aJI?t=8079

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-07-07.md#deferstream-20m-rob-richard:~:text=ACTION%20%2D%20Benjie%20%2D%20open%20discussion%20thread%20for%20struct

---

[2022-07-08 09:12] benjie opened #1059 "[2022-07-07] Open discussion thread about chapter re-ordering"
Unfortunately we ran out of time to cover the topic "Short update/reminder/discussion on previous topics: GraphQL definition, order/titles of chapters, algorithms. (10m, Roman Ivantsov)", so a discussion thread should be opened.

Action assigned here: https://youtu.be/gVCszBu_aJI?t=8079

- assignee(s): @rivantsov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-07-07.md#de

[2022-07-08 09:14] benjie commented on #1059
@rivantsov Please reply (even with just a :wave:) so that I can assign this task to you :+1: I think a separate discussion thread (rather than discussing in https://github.com/graphql/graphql-wg/discussions/969) would make the conversation easier for people to follow and engage with.

[2022-07-08 19:01] nodkz commented on #1055
@rivantsov @IvanGoncharov i want to add a note about directives, that we have 2 types of directives
- schema definition directive of two sub-types
  - meta-field directive, eg `deprecated`
  - schema construction instructions eg entity, key, relation, permission, etc
- runtime directives -- skip, if, lowercase

So maybe better to add to directives a kind/type property:
- runtime (for request langu

[2022-07-08 19:09] nodkz commented on #1055
BTW `oneOf` directive has to scopes `public-meta` and `generation`.

Ouch, I just found a good word for distinguishing of 3 directive kinds - `scope`.

[2022-07-08 19:47] rivantsov commented on #1055
aren't these dir sub-types already covered by Location?

[2022-07-08 20:00] nodkz commented on #1055
Nope.
- Location - points on for what kind of type node it applicable (field, type, arg, ...)
- Scope - will point on what side of schema this directive is applicable (only on server-side or it might be exposed via introspection to the client).

[2022-07-08 20:06] rivantsov commented on #1055
oh, no, that's one of the points I argued on several occasions. ALL directives should be exposed. There should be such thing as hidden directives

[2022-07-08 20:32] nodkz commented on #1055
Right now we have a mess in directives. Some directives are used in SDL, others in request language. Some directives are sensitive and should live only on server (eg [@cypher neo4j-graphql](https://neo4j.com/docs/graphql-manual/current/type-definitions/cypher/) or [@inaccessible in apollo federation](https://www.apollographql.com/docs/federation/federated-types/federated-directives#inaccessible))

[2022-07-17 01:44] mattste commented on #1058
I just read through the RFC and have an example use-case where this would have helped greatly. I can't seem to find a discussion thread so going to leave this here for now.

Recently, I was working on a feature where we had a schema like this:
[code]

In reality, we had about 10 different command types, each of which was relatively large with its fields.

A `Script` fetch or update was all-or-noth

[2022-07-18 08:48] benjie commented on #1058
Discussion thread raised: https://github.com/graphql/graphql-wg/discussions/1071

Do you fancy copying your comment accross @mattste? It's a great use case of struct!

[2022-07-19 22:48] mattste commented on #1058
Done! Thanks!

[2022-07-27 21:25] theengineear opened #1077 "Consider allowing clients to set response priority with `@defer(order: Int)`."
### Context

My team is looking to begin using the experimental `@defer` and `@stream` directives. The [spec](https://github.com/graphql/graphql-wg/blob/main/rfcs/DeferStream.md#defer) appears to leave prioritization up to the server. **I think this control structure may be backwards.**

For reference, the portion of the specification giving me pause is as follows:

### Proposal

Can we allow the

[2022-07-28 08:46] benjie commented on #1077
@theengineear You should cross-post this to https://github.com/robrichard/defer-stream-wg/discussions/ as that's where the stream/defer WG hang out.

[2022-07-28 08:49] benjie commented on #1077
Though I should note that at the moment we already enforce that the payloads must be returned in an order such that the path to insert to already exists. In your example, each `search.friends[x].friends[y]` will always be delivered after the relevant `search.friends[x]` because otherwise the path to write to doesn't exist, so the order makes no difference here.

I think this is the discussion you'

[2022-07-29 10:24] LunaticMuch commented on #1055
@nodkz I disagree in principle, while your solution is not necessarily bad.
The mess is clear, and it's on the specs too which have together `@deprecated`, an informative metadata with `@skip` that has an effect.

[Specs also say](https://spec.graphql.org/June2018/#sec-Language.Directives):

but also

IMO these are conflicting.

@IvanGoncharov has described very well the difference between directi

[2022-07-29 11:22] benjie commented on #1055
I agree with pretty much everything @LunaticMuch has said, with the caveat that the metadata is part of the schema: it should be introspectable via the schema introspection, it should be representable in schema SDL, etc. Though you could _define_ the metadata somewhere else during schema building (there are many ways to build a GraphQL schema), ultimately it will end up as part of the final schema

[2022-07-29 17:53] theengineear commented on #1077
Thanks so much @benjie! That's _exactly_ the kind of discussion I was looking for!

[2022-08-01 07:04] LunaticMuch commented on #1055
@benjie we're aligned. I misrepresented my idea.
I agree metadata must come out from introspection. I do not necessarily agree that directives should (that's the actual behaviour).

Splitting files, it's just a convenient pattern, which is achievable today as well with current tools. Although, given the difference between directives and metadata, your schema should not break if, when it gets built

[2022-08-04 18:14] #1058 closed

[2022-08-04 18:14] #1059 closed

[2022-08-16 07:55] benjie opened #1099 "[2022-08-04] Poll people on what they feel the domain of the spec is"
[:movie_camera:  Timestamped YouTube link](https://youtu.be/eTlYuy8W_LU?t=6625)

- assignee(s): @rivantsov
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-08-04.md#:~:text=Action%20%2D%20goal%3A%20seems%20you%27ve%20done%20an%20inwards%2Dout%20approach%20that%20you%27re%20getting%20pushback%20from%2C%20maybe%20you%20should%20try%20an%20output%2Din%20approach%20where%20you

[2022-08-16 07:57] benjie opened #1100 "[2022-08-04] Redefine the problem that "struct" is solving"
[:movie_camera: Timestamped YouTube link](https://youtu.be/eTlYuy8W_LU?t=4439)

- assignee(s): @benjie
- source: https://github.com/graphql/graphql-wg/blob/main/notes/2022/2022-08-04.md#:~:text=Lee%3A%20Wrapping%20this%20up.%20Advice%3A%20Back%20up%20from%20proposal%20to%20redefine%20the%20problem.%20For%20input%20unions%20that%20was%20very%20helpful.%20A%20lot%20to%20like%2C%20but%20also%20openin

[2022-08-31 19:15] rivantsov commented on #1099
Sorry for no action here for 2 weeks, been bit busy.

I would kindly ask to carry over this action item to the next month - I need more time to figure out the 'action', the poll question and extra arguments.

The problem I see it is that the suggested poll question - 'what the domain spec IS now' - is a bit off target. I myself, being asked this question, would give an answer that I would immediat

[2022-08-31 21:58] benjie commented on #1099
There’s no rush @rivantsov! We’ve got action items open from over a year ago, people address them as and when they have time. Just update us when it’s ready to be reviewed and we’ll add it to the queue for the next meeting at that time.

[2022-09-01 18:10] leebyron commented on #1100
Related to the Metadata discussion on 9/1 - may expand on this in the future

[2022-09-20 20:24] leebyron commented on #988
Closing this one, now that we've put in place the two secondary meetings!

[2022-09-20 20:24] #988 closed

[2022-10-04 05:22] dondonz opened #1130 "Clarify Zoom link for first APAC WG meeting (Oct 2022)"
Hello,

For the first APAC WG meeting coming up, the agenda has a different Zoom link to the calendar invite https://github.com/graphql/graphql-wg/blob/main/agendas/2022/10-Oct/wg-secondary-apac.md

Which is the correct link?

Agenda has
[code]

Google Calendar invite has
[code]

Thanks.

[2022-10-04 07:22] benjie commented on #1130
Hi @dondonz, thanks for the heads up on this! I've raised it with the relevant parties but the general rule is trust what's in the agenda rather than what's in the calendar - it's always a good idea to check the agenda a couple days before the meeting.

[2022-10-04 21:55] dondonz commented on #1130
Thanks @benjie

[2022-10-04 21:55] #1130 closed

[2022-10-21 08:58] benjie commented on #1100
Update from last night's WG: we still need to collect more use cases, but "structured leaves" is definitely a problem that needs solving one way or another.

[2022-11-03 17:52] #646 closed

[2022-11-03 17:53] #778 closed

[2022-11-03 17:54] #790 closed

[2022-11-03 17:59] leebyron commented on #796
Note 11/2022 - still open, this is still worth investigating as it may help resolve complication and performance issues - this will help lead to a decision.

[2022-11-16 18:47] leebyron opened #1175 "🗳 2023 Technical Steering Committee (TSC) Elections 🗳"
I hope you're not tired of elections, because it's time to run our own.

Please see the [2022 TSC Elections process](https://github.com/graphql/graphql-wg/issues/765) for context from last year.

While our charter calls for Elections concluding by the end of the year, since we're opening nominations late, we'll shift the elections schedule by one month to allow for more time for nominations (and e

[2022-11-16 19:01] leebyron commented on #1175
cc @graphql/tsc

[2022-11-28 19:42] dschafer commented on #1175
My term is expiring this year, and since my day-to-day work hasn't involved GraphQL as of late, I'm not planning on renominating myself so that my seat can open up for a new TSC member. The community and the TSC are clearly in good hands, and I'm excited to see how GraphQL continues to grow and evolve in the years ahead!

[2022-11-28 20:04] robzhu commented on #1175
I will not be renominating myself so that someone else can have a chance to work with this amazing group and drive the GraphQL  ecosystem forward. However, I plan on staying an active member of the working group.

[2022-11-28 21:01] schrockn commented on #1175
Similarly I will not be renominating myself. Second Dan's sentiment that this is clearly in good hands and it's exciting to see the GraphQL continue to grow, expand, and mature!

On Mon, Nov 28, 2022 at 3:04 PM, Robert Zhu < ***@***.*** > wrote: